[2017-06-15 14:47] mommermi opened #1 "No module named 'ah_bootstrap'"
This is a problem with the `cookiecutter` template for `astropy` affiliated packages.

Trying to do a `python setup.py develop`, I get the following error:

    Traceback (most recent call last):
      File "setup.py", line 8, in <module>
        import ah_bootstrap
    ModuleNotFoundError: No module named 'ah_bootstrap'

`astropy` and `astropy-helper` are the latest version. I have to comment out

[2017-06-16 14:38] migueldvb commented on #1
It is working for me from the `master` branch in sbpy.   I have the astropy and astropy-helpers packages ion this machine but it should not make a difference how they are installed...
 https://aur.archlinux.org/packages/python-astropy-helpers/

This is the output of the `python setup.py develop --user` command:

[code]

[2017-06-20 23:09] mommermi commented on #1
Interesting... must a problem with my system. Thanks for checking, Miguel!

[2017-06-20 23:09] #1 closed

[2017-06-21 13:43] mkelley commented on #1
I have the same problem.  Looks like ah_bootstrap.py wasn't copied into sbpy from the template: http://docs.astropy.org/en/latest/development/affiliated-packages.html

[2017-06-22 17:31] mommermi commented on #1
Ah, got it! I added ah_bootstrap.py manually and updated setup.py. Thanks!

[2017-12-04 16:07] mkelley opened #17 "Implement Afrho-magnitude conversions."

[2017-12-04 16:08] mkelley opened #18 "Implement Vectorial model"

[2017-12-04 21:29] mkelley opened #19 "Implement syndynes and synchrones"

[2017-12-06 12:30] mkelley opened #21 "Haser model tests failing"
Haser model tests are failing:

* test_volume_density - Equation looks fine, test values might be wrong.
* test_total_number_rho_NJ78 - Cannot reproduce literature.  Find alternate test values.
* test_total_number_circular_ap - Cannot reproduce literature.  Find alternate test values.

- msk

[2018-05-01 21:55] astrojuanlu opened #26 "Possible collaboration with poliastro for orbital element handling"
Hi! I just wanted to reach out after discovering the project and talking to @migueldvb today at #pyastro18. We have some common needs since we also want to read data from Horizons (https://github.com/poliastro/poliastro/issues/313) and perhaps we can lend a hand in reading or converting the orbital elements http://docs.poliastro.space/en/latest/user_guide.html#from-position-and-velocity, so let's

[2018-05-02 13:59] mkelley commented on #26
Yes, we should definitely collaborate, whether it will be direct code or hooks from/to poliastro.  Enabling easy I/O with HORIZONS and other sources is a major goal of sbpy.

[2018-05-02 16:20] mommermi commented on #26
Absolutely! Since you are interested in `callhorizons`, you should have a look at `astroquery.jplhorizons`, which will replace the former. If you find any functionality missing there, let me know and we can work it in. Converting orbital elements and geometries sounds great; as @mkelley said: either as part of `poliastro` or `sbpy`.

We will start working on `sbpy` for real in a few weeks, so let'

[2018-05-02 16:27] Juanlu001 commented on #26
Thanks everyone! Yes, I discovered `astroquery.jplhorizons` shortly after. I'm also thinking of contributing all the asteroids & comets data reading to astroquery (https://github.com/poliastro/poliastro/issues/364), you can get a taste of it at http://docs.poliastro.space/en/latest/examples/Using%20NEOS%20package.html

[2018-05-03 17:00] mkelley opened #29 "python 2.7 Travis tests"
Shouldn't we drop the Python 2.7 tests in Travis?

[2018-05-03 17:15] mommermi commented on #29
We should. I guess that means that we build `sbpy` only for Python 3.x?

[2018-05-03 17:33] mkelley commented on #29
If we start by requiring `astropy` 3.0, then we test python 3.5+ https://github.com/astropy/astropy-APEs/blob/master/APE10.rst

[2018-05-03 17:37] mommermi commented on #29
Sounds reasonable to me. Just to be safe, I check our proposal and we wrote '*SBPy will use Python 3;'*. Any objections to requiring `astropy` >=3.0 and hence Python >=3.5?

[2018-05-03 17:48] mkelley commented on #29
Well, if astropy doesn't support <3.5, we will be on the hook for writing sbpy code to handle whatever problems might arise.

[2018-05-03 17:55] mkelley commented on #19
Pending `Ephemeris` class definition.

[2018-05-03 18:44] mommermi commented on #29
True... let's not even think about this.

[2018-05-18 23:47] mkelley commented on #29
Looks like f0347a30 addresses this issue.

[2018-05-18 23:47] #29 closed

[2018-05-29 17:13] migueldvb opened #31 "Replace callhorizons calls with astroquery.jplhorizons"
Since we will be using astroquery for other things as well it makes sense to have it as a required dependency.

[2018-06-20 13:51] migueldvb opened #36 "Use astroquery.nasa_ads in bibliography module"
`astroquery.nasa_ads` now supports the new ADS API (https://github.com/astropy/astroquery/pull/1162).

[2018-06-20 21:52] mkelley opened #37 "Cite Newburn and Johnson 1978"
Cite Newburn and Johnson 1978 for Haser model formulae.

[2018-07-09 18:39] migueldvb opened #42 "Add tests for calculation of Einstein coefficients"
Test that the calculated coefficients for spontaneous emission at 300K agree with the coefficients in the Leiden Atomic and Molecular Database (LAMDA) within a few percent tolerance for a few molecules.  Some remote tests using the [`astroquery.lamda`](https://astroquery.readthedocs.io/en/latest/lamda/lamda.html) package can be included.

[2018-07-10 18:15] #37 closed

[2018-07-10 20:03] migueldvb opened #44 "Production rate calculation"
The implementation of production rate calculation from a Haser model (with and w/o photodissociation) can be tested with the published values in table 2 from [this paper](https://arxiv.org/abs/1202.3194). The data is not available in vizier but it can be grabbed from the latex source in the arxiv:
https://arxiv.org/e-print/1202.3194

[2018-07-12 19:07] gianninapr commented on #42
I'll be working on this

[2018-07-12 19:08] gianninapr commented on #44
We have tests for HCN already. We could also test CH3OH, which I will work on.

[2018-07-13 00:00] mommermi opened #46 "add astroquery.jplspec to requirements"
just a reminder for us to add `astroquery.jplspec` to the travis-CI and sphinx requirements, once it's released

[2018-07-24 12:12] mkelley opened #49 "Avoid asserts in parameter testing"
Using asserts for parameter testing is not good because asserts can be skipped with, e.g., python -O:
https://github.com/astropy/astropy/pull/5556#discussion_r91169610

[2018-07-25 03:40] mommermi commented on #49
Thanks, I didn't know about this. But on the other hand, I am not sure why you would use `python -O` when testing function. I don't think we have to worry about this too much.

[2018-07-25 12:00] mkelley commented on #49
I think this is primarily for me since I tend to use asserts when checking the user's input:
[code]

[2018-07-27 20:54] migueldvb opened #50 "Add IR pumping library into spectroscopy module"
This functionality is part of the CINE library:
https://github.com/migueldvb/cine

[2018-08-01 17:34] mommermi commented on #46
done (`astroquery` in general now requires) as part of #51

[2018-08-01 17:34] #46 closed

[2018-08-01 17:41] mommermi opened #52 "numpy import error in astropy-helpers"
I tried installing `sbpy` in a clean conda environment (Python 3.6) and stumbled across the missing requirements, which are now fixed in #51.

One problem that still persists is that if you run `setup.py install/develop`, the script will fail since `astropy-helpers` requires `numpy` before the setup routine (which will install `numpy`) is even reached. No big issue for now: simply install `numpy`

[2018-08-03 23:53] rhiannonlynne opened #56 "Names class rejects asteroid name "ITA""
Asteroid 1735 ITA (1948 RJ1) (named "ITA" in the astorb output file) triggers an exception in the Names class.

```Names.parse_comet('ITA')```

Parsing it as a comet returns {'name': 'ITA'}, but this is a main belt asteroid, and

```Names.asteroid_or_comet('ITA')```

returns 'comet'.

Just another special case to consider, I guess.

[2018-08-05 22:26] mommermi commented on #56
Thanks! This will be fixed in #53. If you find more cases that fail, let us know!

[2018-08-05 22:26] #56 closed

[2018-08-06 17:57] mommermi commented on #36
Do we want to replace the currently used `ads` with `astroquery.nasa_ads`? You guys might have a better sense for this.

Also, for now I deactivated the remote tests for `sbpy.bib` due to the same problems as in the pr referenced above. Let's see what they come up with...

[2018-08-06 19:36] rhiannonlynne opened #57 "name parsing errors"
Hi Michael - some more examples of names that fail:
[code]

Unicode issues I expect.
(btw, I'm finding these by just loading the MPCORB.DAT file and running all the "readable names" column through sbpy.data.Names .. if you want a utility to read the MPCORB file (which might fit into your Orbits class?) we've got one at
https://github.com/rhiannonlynne/ssdpu/blob/master/catalog_utils.py which you a

[2018-08-06 20:31] rhiannonlynne commented on #57
Ah - also multi-word names don't parse correctly.
Example:
s = "(2413) van de Hulst"
Names.parse_asteroid(s)
yields
"Hulst" as the Name.

[2018-08-06 22:04] mommermi commented on #57
Ha, life is never as easy as you think... I'll be working on those soon. Thanks for providing the list and the catalog parser. This will probably become a part of `sbpy` soon! Thanks

[2018-08-07 17:03] mommermi commented on #57
Ok, they're all fixed (e.g., `{'number': 361267, 'name': '`I`iwi', 'desig': '2006 SV395'}`). If you have some more cases let me know. I'll wait a bit with closing this issue report and merge later.

[2018-08-08 00:07] rhiannonlynne commented on #57
Is there a branch I could pull, in order to use the new version? Another name I found to fail (with the older version):
``Names.parse_asteroid('(20958) A900 MA')``
I was thinking that the MPC "readable name" ought to be parseable from (20958) A900 MA into
number: 20958
name: A900 MA
but I get
```{'number': 900}```

[2018-08-08 16:17] mommermi commented on #57
Yes, you can pull https://github.com/mommermi/sbpy/tree/data

I am not sure about the latest example you provide. SBDB lists `A900 MA` as the designation, but MPC uses `1900 MA`. I will have to ask somebody what is going on here...

[2018-08-08 16:19] rhiannonlynne commented on #57
Yeah it seems odd. MPC maybe uses the A instead of the thousand? But why?
On Wed, Aug 8, 2018 at 9:17 AM Michael Mommert <notifications@github.com>
wrote:

[2018-08-08 17:16] mommermi commented on #57
Ok, I think I understand it now. That type of designation was used before 1929. The first `A` stands for asteroid - what else...
There is no standardized system - both `A900 MA` and `1900 MA` are perfectly valid. I think I will resort to converting `A900 MA` to `1900 MA`, which is at least compatible with the later designation system. I will some documentation on this. In the end, it doen't really

[2018-08-08 18:42] mommermi commented on #57
@rhiannonlynne Please report future issues directly in #58. Thanks!

[2018-08-08 18:42] #57 closed

[2018-09-14 14:27] mkelley opened #64 "Bibliography tracking does not track multiple calls"
[code]

Expected: 2 items, one for water, one for OH.

[2018-09-14 14:47] mkelley opened #66 "Bibliography does not allow multiple references for a single key."
Consider that there are various estimates for the fluorescence band g-factors of CO2, e.g., Crovisier & Encrenaz 1983 vs. Debout et al. 2016.  If we included both in `activity.fluorescence_band_strength` and a user called both to determine the difference, only the last used citation will be tracked.

[code]

Perhaps the citations should be internally stored as lists, and new citations appended as

[2018-09-14 15:14] #64 closed

[2018-09-14 23:25] mommermi opened #69 "install pyoorb in test environments"
pyoorb can currently not be installed using pip or any other service

pyoorb tests are deactivated if that module is not installed

todo:
- [ ] install (conda environment? of) pyoorb in test scenarios
- [ ] remove test skipping

[2018-10-18 18:38] mkelley opened #78 "Impossible to understand Horizons errors in Ephem.from_horizons"
[code]

No object is returned, so a user cannot follow up on the error message without running a debugger.

[2018-10-18 18:45] mkelley commented on #78
@mommermi I see a few approaches to fix it: request and print the data from the URI, catch the exception and add the URI to the message, or edit astroquery and add the URI to the exception.

[2018-10-18 20:38] mommermi commented on #78
@mkelley Good point! How about this as an error message:

`RuntimeError: Error raised by astroquery.jplhorizons: Query failed without error message; check URI for more information`
`The following query was attempted: https://ssd.jpl.nasa.gov/horizons_batch.cgi?batch=1&TABLE_TYPE=OBSERVER&QUANTITIES=%271%2C2%2C3%2C4%2C5%2C6%2C7%2C8%2C9%2C10%2C11%2C12%2C13%2C14%2C15%2C16%2C17%2C18%2C19%2C20%2C21%2C2

[2018-10-19 05:51] mommermi commented on #66
fixed with #75

[2018-10-19 05:51] #66 closed

[2018-10-19 06:07] #31 closed

[2018-10-19 12:49] mkelley commented on #78
Looks good.

[2018-10-19 20:53] #78 closed

[2018-10-25 20:31] mkelley opened #82 "sbpy.bib should support AAS Journals \software command"
As suggested by Henry Hsieh.

[2018-10-25 22:29] mkelley opened #83 "from_mpc does not work with minutes"
Via Martin Cordiner:

[code]

Problem is that u.m should be u.min.

[2018-10-26 13:13] mkelley opened #84 "sbpy successfully installs in Python 2"
But we don't support Python 2.  This should be prevented.  Exclude earlier Python 3 versions too?

[2018-10-26 19:09] mkelley opened #85 "Citing sbpy"
We've advertised sbpy at two meetings, and there is enough functionality to be useful to someone.  Is it time to consider getting a DOI for the development version?  Probably via zenodo.

[2018-10-29 21:20] mommermi commented on #85
I'm on this, but we need an official release through github. Should probably think about what a good time for that would be. Let me clean up a few things first...

[2018-10-29 22:01] mommermi commented on #84
fixed with brute force in #86

[2018-10-29 22:01] #84 closed

[2018-11-06 13:19] #83 closed

[2018-11-06 14:00] mkelley opened #89 "DataClass does not support masked columns"
Seems to be because QTable and Quantity do not support masked columns.

[code]
[code]

This is presently a problem with `Ephem.from_horizons`, which drops the masks leaving zeros as column values.  For example, it makes comet Encke a naked-eye object:
[code]

astropy/astropy#1852 looks like the main issue.

[2018-11-06 14:09] mtbannister opened #90 "existing code for SSOIS querying"
Hi folks,
I see there's a 'to implement' on the SSOIS query in sbpy.data.image_query. You are welcome to use the astropy-based SSOIS query wrapper available here as a starting point: https://github.com/OSSOS/MOP/blob/master/src/ossos/core/ossos/ssos.py
This set of classes and functions is built around sending in a set of MPC-format lines for a newly found (i.e. undesignated) minor planet. The clas

[2018-11-06 17:55] mommermi commented on #90
Thanks, Michele! I will look into adding this feature soon. Do you happen to have an OSSOS reference that we can cite for this feature?

[2018-11-07 09:39] mtbannister commented on #90
Happy to answer any questions along the way. Sure; please cite Bannister et al. (2016, 2018), which are https://ui.adsabs.harvard.edu/#abs/2016AJ....152...70B/ and https://ui.adsabs.harvard.edu/#abs/2018ApJS..236...18B/

[2018-11-17 18:51] mkelley commented on #90
Should we add this to astroquery first?

[2018-11-18 22:30] mkelley opened #91 "Ephem.from_oo modifies orbit parameter in place"
``Ephem.from_oo`` modifies the ``orbit`` parameter in place.  Then when reusing the orbit, ``from_oo`` crashes because the column ``'orbittype'`` already exists.

(1) Consider copying the orbit object before modifying.
(2) Check for existence of ``'orbittype'`` column before adding it.
[code]

[2018-12-07 22:35] mkelley commented on #17
Addressed in #59 .

[2018-12-07 22:35] #17 closed

[2018-12-07 23:47] migueldvb commented on #52
This may be fixed in `astropy-helpers` 2.0.8 now that `ez_setup.py` is gone. Let me try updating the astropy-helpers submodule and opening a pull request.

[2018-12-10 18:00] mkelley opened #98 "Test failure from data's field name count"
I'm stuck trying to understand this test failure (see also Travis logs).  The code works for me by hand and my local machine cannot reproduce it.  Is there a quick way I can duplicate the environment so that I can reproduce it?

_______________________ test_alternative_name_uniqueness _______________________
    def test_alternative_name_uniqueness():
        """test the uniqueness of alternative

[2018-12-10 18:33] mommermi commented on #98
I have seen stuff like this before. It might be that some test function meddles with `conf.fieldnames` in some obscure place - like it does in this exact test function itself. Re-running the test will then make the test fail. Can you replace `test_alternative_name_uniqueness` with this code and then retry?

[code]

[2018-12-18 23:07] mkelley commented on #98
That worked. :1st_place_medal: for @mommermi

[2018-12-18 23:07] #98 closed

[2018-12-21 15:08] jianyangli opened #100 "Ephem.from_horizons can't handle multiple Time values"
Below code generates an error message:
[code]

The problem is that `.from_horizons` doesn't handle `epochs` value correctly when it contains multiple values.  There are also other bugs for the case `isinstance(epochs, (list, tuple, ndarray))`.

[2018-12-21 15:34] jianyangli commented on #100
I think we should either describe what data type it accepts clearly in the docs, or make it truly flexible.
But I just noticed that Michael did note it in the code that this input needs to be modified.  So the potential problems here are in his radar already.

[2019-01-19 15:25] mkelley opened #102 "Vega calibration fix"
Conversion to/from Vega magnitudes should assume Vega has a magnitude of 0.03 (Bessell and Murphy 2012).

[2019-01-23 20:22] mommermi opened #104 "No module named 'ah_bootstrap' - again"
I merged Miguel's `astropy_helpers` update (#95) since there where no build issues, but now all the Travis-CI builds seem to break. See here: https://travis-ci.org/NASA-Planetary-Science/sbpy/jobs/481600991

The problem seems to be `ah_bootstrap` again - we had this issue in #1 and solved it by manually copying `ah_boostrap.py` into the root directory. However, it seems that this is actually trigg

[2019-01-24 20:43] mommermi commented on #104
Hmm. Maybe. I intentionally installed the master branch, since v0.3.9 did not include some of the recent changes to `astroquery` like `jplsbdb`. I'll try that tonight.

[2019-01-25 23:48] migueldvb commented on #104
Ah OK, then it would be better to keep the master branch of astroquery until the next release. Interestingly nothing has changed in `ah_bootstrap.py` between releases 2.0.7 and 2.0.8... Perhaps we can revert the changes in #95 to fix the build issues?

[2019-02-17 16:51] mkelley opened #110 "Afρ to dust cross section"
Add methods to convert Afρ / εfρ to and from dust cross section.

[2019-02-21 13:26] maxmahlke opened #112 "Implement disk-integrated model function fits"
Hi everyone, I'd like to contribute to the sbpy development. Specifically, the fitting routine for the different disk-integrated models in the sbpy.photometry.core module. I saw that there's already a [placeholder](https://sbpy.readthedocs.io/en/latest/api/sbpy.photometry.DiskIntegratedModelClass.html#sbpy.photometry.DiskIntegratedModelClass.fit) in the code. I was looking for a package which is a

[2019-02-22 15:12] maxmahlke commented on #112
I believe the second point in my list is related to the discussion in #61, though it seems that you agreed on the methods handling list and array inputs as well and converting implicitly, unlike the doc string suggests.

[2019-02-22 16:33] mkelley commented on #112
Great to hear that you are interested in contributing, thanks for contacting us.  I think @jianyangli is the lead for `photometry`, so he can address your questions with authority.

My opinion is that sbpy should be aligned with whatever approach `astropy.modeling` uses.  Initializing HG1G2 with values represents a set of initial conditions before fitting.  See http://docs.astropy.org/en/stable/mo

[2019-02-22 19:11] mkelley commented on #112
OK, I've asked about `modeling`, if it is stable enough for use in affiliated packages.  Thomas Robitaille says, "yes, it is used in the gwcs package extensively for example, so I think it's stable enough to use. We are still working through some issues with models that have units in some corner cases. Also, don't create composite models by combining classes, only instances, as combining classes i

[2019-02-22 20:16] mommermi commented on #112
Thanks, Max, I think we can use any help out there! But for final design questions, I would refer to @jianyangli, who is in charge of `photometry`.

A few comments in addition to those already provided by @mkelley
* Personally, I would also prefer the approach of `hg=HG1G2()` and then assign the parameters if you want to, for instance, compute magnitudes. But that is something we should discuss wi

[2019-02-22 21:03] mommermi commented on #112
@maxmahlke  one thing I forgot to mention: if you need a tool to pull observations reported to the MPC, have a look at this: [astroquery PR #1350](https://github.com/astropy/astroquery/pull/1350)

[2019-02-23 03:42] jianyangli commented on #112
Hello Max, first of all, thank you for your interest in contributing.  Just as many other community developed packages, we rely on the contribution from as many interested people as possible to be successful.

Here are my responses to your thoughts:

1. Good suggestion.  In fact in my personal library I always set default parameters for all the models classes that I create.  This way, a model clas

[2019-02-24 20:30] maxmahlke commented on #112
Thanks for the responses, looking forward to contribute!

I think we're agreeing on the first two points I mentiond,

- the user is able to instantiate the model class instance without parameters (default values are used), but can choose to provide them as a set of initial coniditions for a chosen fitting routine
- the data input should be flexible enough to handle dictionary-like objects but conv

[2019-02-25 14:38] jianyangli commented on #112
The H, G1, G2 model is defined as a linear combination of the three base functions in flux space (Eqs. 1-3, Penttilä et al 2016).  But it's nonlinear in magnitude space.  This is what I meant by "the way the model is implemented affects the way we fit it.  This is just like when we fit parameter c in an exponential model y = exp(c*x), we can either fit it by nonlinear minimization directly, or lin

[2019-02-25 14:56] mommermi commented on #112
I would prefer to stick to the `astropy` rules and guidelines as much as possible, so I would advocate for using `astropy` fitters. However, in that case, we should probably provide some clear examples in the docs and the function docstrings. A `.fit()` function would in the end only serve as a wrapper for the `astropy` fitter and make a bunch of implicit assumptions on what the user (might) want.

[2019-02-26 20:12] mkelley commented on #112
I love convenience, but conceptually, I think leaving the fitting to the Fitters is better.  Models have parameters and functional forms, Fitters optimize models.  Model.fit() doesn't "fit" this paradigm.  It is was definitely worth considering, though.

[2019-02-28 10:16] maxmahlke commented on #112
Ok I understand your reasoning, thanks for clarifying @jianyangli. For now, I'll write a script which retrieves MPC observations using `astroquery.mpc` as @mommermi implemented in [PR #1350](https://github.com/astropy/astroquery/pull/1350), and fits the `sbpy` photometry models to the observations using `astropy.modeling`. Maybe later we can turn this into an example for the docs.

[2019-02-28 16:20] mommermi commented on #112
Yes, that'd be a great example!

[2019-02-28 22:07] jianyangli commented on #112
OK then, let's keep the `.fit()` in our base class for photometric models as a wrapper for convenience, and provide a default fitter, some like:

[code]

The option for returning fitter is to make the statistical information of the fitting available.  Also, as I mentioned earlier, I will probably also implement a class method `.from_data()` to initialize the model directly from data by fitting:

[

[2019-03-01 19:02] mkelley opened #116 "synphot version requirement or warning"
There are some percent-level and larger errors in synphot, to be fixed with spacetelescope/synphot_refactor#166 .  Fortunately, I don't think it affects sbpy tests at anything greater than the percent level.  We should probably make a version requirement or throw a warning if an older version is used.

[2019-03-04 12:36] migueldvb commented on #44
Implemented in #45

[2019-03-04 12:36] #44 closed

[2019-03-04 12:57] migueldvb opened #118 "Support Non-LTE molecular radiative transfer codes"
We should add support to non-LTE codes to infer physical and chemical parameters such as temperature, density, and production rates from spectroscopic observations. A python interface to run RADEX models has been developed and could be called from sbpy. The RADEX code is written in fortran and also has a command line interface. Wrapper functions in python would require using `numpy.f2py` to provid

[2019-03-04 17:21] mommermi commented on #104
This problem has disappeared with the new Travis-CI setup.

[2019-03-04 17:21] #104 closed

[2019-03-15 13:30] anatheana commented on #112
Hi, my comments on the fitting (but not on the programming logic in sbpy). I would advise strongly to use nonlinear version of fitting, and do it in the magnitude space. The weighting and the residuals are completely different in flux and magnitude spaces. In the linear flux space, the residuals are strongly nonsymmetric, and that's why I would avoid linear fitting.

I tested some of the nonlinear

[2019-03-18 02:29] jianyangli commented on #112
Hi @anatheana , thank you very much for your input.  Yes we will only implement the non-linear version of the H, G1, G2 and H, G12 models in magnitude space, and we can make `astropy.modeling.fitting.SLSQPLSQFitter()` fitter as the default fitter.  I will look into `astropy.modeling` module and see how we can put constraints like 1-G1-G2=0 as model default.

One question about the constraints for

[2019-03-18 14:26] mkelley commented on #102
#117 addresses this issue, creating a `JMmag`, which assumes the Johnson-Morgan system zeropoint, i.e., Vega == 0.03 mag.  It also defines `VEGAmag`, which assumes Vega == 0 at all wavelengths.

[2019-03-19 11:50] #102 closed

[2019-03-19 12:36] anatheana commented on #112
Hi,
The constraints for H,G12 are indeed for the year 2010 'official' version of H,G12. On the other hand, I do think that the 2010-version G12 has some problems with the discontinues on the derivative at G12=0.2. The statistical parameter errors might be impossible to derive if the fit ends up at G12=0.2. On the other hand, having several systems can be somewhat confusing. Anyway, implementing bo

[2019-03-19 14:18] mkelley opened #122 "Finalize SpectralStandard"
There is a philosophical issue with the current state of `SpectralStandard`.  `__call__` will interpolate if a single wavelength is passed, but will rebin when multiple wavelengths are passed.
Instead, I propose to only interpolate with `__call__` and make a new method, `observe()` which will always rebin.  It could also handle multiple bandpasses, effectively replacing `filt()`.

[code]

Also, I

[2019-03-21 12:58] mkelley opened #123 "Record numbers cause test failures in test_spec_remote"
@migueldvb @gianninapr The target record numbers in `test_spec_remote.py` are causing failures:
[code]
Because record numbers can change at any time, I recommending changing these to designations.

[2019-03-21 13:01] gianninapr commented on #123
Thanks, I'll change it to designations ASAP

[2019-03-21 23:16] mkelley commented on #82
I do not see an obvious way to do this.  More meta data would need to be registered in the tracking database so that the reporting functions could determine how it would represent each citation.  I think this is beyond what we want to provide.

[2019-03-22 21:15] jianyangli commented on #112
@anatheana after some tests, I'd like to stick to `~astropy.modeling.fitting.LevMarLSQFitter` instead of `SLSQPLSQFitter` for model fitting, because I think the former is more robust than the latter.  For example, when I pulled the magnitude data of (1862) Apollo from MPC, and fitted an HG model, the `SLSQPLSQFitter` failed, while the `LevMarLSQFitter` returns the results right away.  Please let m

[2019-03-25 10:48] anatheana commented on #112
For the best fitting method, I trust your tests and I don't have any concerns.

It's also OK to not bound the fit parameters, but then I hope that the users remember to use some cautiousness. I don't think that the G1,G2-parameters are physical in any way, but my only concern is that the phase function should be monotonically decreasing (or non-increasing) function in -mag. So it comes back to G1*

[2019-03-25 15:21] mommermi commented on #112
@jianyangli @anatheana Do we want to issue a warning if the phase curve is not monotonically decreasing or if the slope parameters are outside the bounds? Would that be feasible?

[2019-03-25 15:43] anatheana commented on #112
Yes, that could work.

[2019-03-25 19:57] jianyangli commented on #112
@anatheana Thank you for your input.  If people use the model to fit actual data, which are always monotonically decreasing, then they will not reach a model that is not monotonically decreasing.  So I think this should not be a concern.

But I do like the suggestion by @mommermi .  Let me add warnings to the setters of model parameters.

[2019-03-26 01:14] jianyangli commented on #112
Well, could someone (@mommermi @mkelley @anatheana or anyone who subscribed this thread) point me to the right place where I can overload the "setters" of model parameters?  I went through the code for [`astropy.modeling.Model`](http://docs.astropy.org/en/stable/_modules/astropy/modeling/core.html#Model), but couldn't find the right place.  Looks like `Model` dynamically generates parameter attrib

[2019-03-26 01:59] jianyangli commented on #100
I'm closing this issue now as the problem has been resolved with PR #106

[2019-03-26 01:59] #100 closed

[2019-03-26 15:47] mommermi commented on #112
As far as I know, models don't really have setters. Instead, values are simply passed to the `.evaluate` method. You could add a check there, or maybe it is enough to simply add a warning to the `bounds` method in case the boundaries are reached.

[2019-03-26 18:16] mkelley commented on #112
I don't understand models.  I'd recommending raising the problem with the astropy #modeling slack channel.

[2019-03-27 01:44] jianyangli commented on #112
OK, guys, thanks for your suggestions.  I added warnings in the `.evaluate` method.  Probably not the best place, because warnings are issued every time the model is evaluated, but at least it works for now.

The threshold for HG model is G<=1.194, for H, G1, G2 is G1>=0, G2>=0, and G1+G2<=1, and for HG12 (both versions) G>=-0.70 and G<=1.30.  I found the bounds for G and G12 manually by numerical

[2019-03-27 08:29] anatheana commented on #112
I'm not a Python expert, and definitely not an astropy expert. However, it sounds like too heavy to warn with (every?) evaluation. Model fitting routines can easily travel to these regions, which would issue warnings (?) even when the user has not actively tried to do anything suspicious (I assume, but I really don't know how these warnings work). I would just try to raise the question with the as

[2019-03-27 13:14] jianyangli commented on #112
Yes I feel the same.  I raised the question in astropy #modeling slack channel.  Let's see what people suggest.

[2019-03-30 13:28] mkelley opened #132 "Add option to iterate SpectralGradient.from_color"
`SpectralGradient.from_color`, to be introduced in #103, can convert a color index to a spectral gradient given filter bandpasses.  It estimates effective wavelengths of the bandpasses using the sbpy default solar spectrum.

Because the effective wavelength depends on the spectral shape of the object, we should have an optional iterate keyword that attempts to converge on a stable solution.  It sh

[2019-03-30 21:17] migueldvb commented on #123
It seems that replacing `'900918'` by `'103P'` in lines 24 and 63 of `test_spec_remote.py` file fixes the failures.

[2019-03-30 21:21] migueldvb commented on #42
Thanks!

[2019-03-30 21:21] #42 closed

[2019-03-31 02:57] jianyangli commented on #112
I discovered that we can add a `validator` method for all the parameters in the model class using the `astropy.modeling.Parameter.validator` property as a decorator.  Now the model class will issue a warning only when the parameter is assigned, but not every time the model is evaluated.  Hope you are fine with this solution?  @anatheana @mommermi

[2019-04-01 08:18] anatheana commented on #112
Sure @jianyangli . I trust on your experience on astropy better than mine.

[2019-04-07 20:27] migueldvb commented on #123
@gianninapr could you update the comet in the spec remote tests?

[2019-04-07 20:30] gianninapr commented on #123
I can do that

[2019-04-09 00:39] jianyangli commented on #112
Replace #127 by #134

[2019-04-09 12:18] mkelley commented on #122
Done!

[2019-04-09 12:18] #122 closed

[2019-04-09 16:29] mommermi opened #135 "open v0.1 issues"
This is a to-do list for open items before we can release v0.1 and submit to JOSS:

* [x] finalize and merge `sbpy.photometry` updates (#134, @jianyangli)
* [x] finalize and merge `sbpy.activity` updated (#129, @mkelley)
* [x] update `sbpy.spectroscopy` to follow rules (@migueldvb)

If there is anything I did not mention here, simply reply and I will add it to the list.

[2019-04-09 16:42] mkelley commented on #135
Does anything besides submission need to be done for #85 ?

[2019-04-09 16:46] mommermi commented on #135
Based on https://joss.readthedocs.io/en/latest/submitting.html, we submit to JOSS, work their review comments into the repo, then create an archived version at zenodo, and that's it.

So right now, it's really just bringing the code into a good shape...

[2019-04-10 03:07] jianyangli commented on #112
We have a question for you @anatheana .  In reviewing PR #134 , @mommermi suggested that we make the version of HG12 model in your 2016 paper the default.  This means we name your version `HG12` and the one in Muinonen et al. (2010) `HG12_Orig` or something like that.

What's your suggestions?  Does your model generally work better than the original version, or is your version more "official" than

[2019-04-10 07:19] anatheana commented on #112
Hi @jianyangli. Tough question. The HG12 from Muinonen 2010 is the 'official' one, so maybe that should be the default. The discontinuity in derivative in that system can produce some practical problems. That is the reason we revised the problem, and using the data from Shevchenko et al., came up with the revised HG12. Now the revised HG12 is continuous in derivative, but also needs the E- and D-t

[2019-04-10 14:18] mommermi commented on #112
The motivation behind my suggestion is the strong feeling that people are lazy and will only use whichever model is named `HG12`. Only people that are really familiar with the matter will explore what other flavors of HG12 there are. I think the real question should be: which flavor would you like people to use by default?

[2019-04-10 19:38] maxmahlke commented on #112
Hi all, I've been following the discussion while working on my fit implementation in the past weeks. In the end, I went with a Bayesian framework to infer the parameters, which has some advantages when we deal with poorly sampled phase curves over the least squares approach. Once I find some time, I'll write up that example I mentioned and compare the two approaches + showcase the MPC data retriev

[2019-04-10 22:04] mkelley commented on #123
Fixed by #133

[2019-04-10 22:04] #123 closed

[2019-04-11 13:12] gianninapr commented on #135
@migueldvb I'll help you update `sbpy.spectroscopy` to follow the rules.

[2019-04-11 14:47] jianyangli commented on #112
@anatheana @mommermi I just added some notes in the docstrings for `HG12` and `HG12_Pen16`.  Since the `HG12` is still the "official" one approved by IAU, I think we want to keep `HG12` the default, but note the drawbacks of it in the docstring and point users to the improved model version `HG12_Pen16`.  I think in the future we may want to implement some functionality to automatically select the

[2019-04-24 03:30] migueldvb commented on #36
It would be good to use `astroquery` in `sbpy.bib` but it seems that currently the ADS export service is not yet supported in `astroquery.nasa_ads` (https://github.com/astropy/astroquery/issues/1422).

[2019-04-25 16:27] mommermi opened #138 "add albedo units"
At some point, somebody mentioned to include albedo units to `sbpy.units`. Is this still considered a good idea?

[2019-04-25 16:47] jianyangli commented on #138
Yes that's in my plan.  Thanks for opening this issue.

[2019-04-29 20:16] jianyangli opened #139 "Allow model sets in photometric models"
This issue just to log the future update we discussed in #134 , i.e., to support the initialization of multiple objects into a model set.

[2019-04-29 20:19] mommermi commented on #135
@migueldvb @gianninapr what is the status of `sbpy.spectroscopy`? Any chance that it's up-to-date any time soon? If not, I propose that we go ahead and submit to JOSS what we have now.

[2019-04-29 20:24] gianninapr commented on #135
@mommermi I can try my best to fix the problems I'm facing with the changes by the end of today. If I don't achieve that you can feel free to go ahead and submit to JOSS after tomorrow. I don't know about @migueldvb parts

[2019-04-29 21:29] migueldvb commented on #135
@gianninapr I'll open a pull request using the Ephem/Orbit/Phys objects in spectroscopy and will give your write access to the branch.

[2019-04-29 21:46] gianninapr commented on #135
Sounds good. I'll be looking out for your PR and then I'll commit to it what I have @migueldvb

[2019-04-30 00:26] jianyangli commented on #112
I'm closing this issue because the related PR #134 has been merged.  But please feel free to open new issues for your Bayesian fitting approach @maxmahlke , and for the possible implementation of automated model selection @anatheana in the future.  Thank you for contributing to `sbpy`!

[2019-04-30 00:26] #112 closed

[2019-04-30 02:47] gianninapr commented on #135
Pull requests #140 and #141 take care of the last item that needs to be checked out for this!

[2019-04-30 21:17] mommermi commented on #135
@NASA-Planetary-Science/sbpy I will release v0.1 and submit our JOSS proposal tomorrow (May 1, noon, MST), unless somebody disagrees. Thanks, guys!

[2019-05-02 15:24] #135 closed

[2019-05-03 18:16] mommermi opened #146 "Allow photometric models to be initialized with albedos"
For `sbpy.thermal` it would be great to have functionality in `sbpy.photometry` such that, e.g., `HG` models can be initialized with a geometric albedo or Bond albedo in order to calculate the target's radius (with H provided) or H (with radius provided).

[2019-05-03 18:25] mkelley commented on #146
Or, what about a `.to_phys()` method that would convert the HG model to a `Phys` object?  D and Ap could be added to the `Phys` object if appropriate keyword arguments were given:
[code]

[2019-05-03 18:35] jianyangli commented on #146
The functionality to convert between magnitude, geometric albedo, and radius is implemented in an equivalency function `reflectance` in PR #136 , which I haven't finalize yet.

But I do like the idea of adding a `.to_phys()` method to capture everything that can be calculated with a `HG` or other model class object into a `Phys` object.

[2019-05-03 18:44] mommermi commented on #146
Yes, `.to_phys()` sounds like a great idea - I will steal this for `sbpy.thermal` :)

Thanks, @jianyangli , no rush. I just wanted to add it to the list of things that are to be done.

[2019-05-09 03:29] jianyangli opened #147 "Deprecate `ref2mag` and `mag2ref` in `photometry`"
Those two functions should be deprecated and replaced with unit conversion supported by equivalency function `reflectance` once #136 is merged.

[2019-05-09 03:39] jianyangli opened #148 "Allow flexible default solar flux/mag in reflectance equivalency"
At this moment the default solar flux and magnitude are hard coded.  But @mkelley suggested that they should be allowed to change, both in runtime and in package configuration.  Something like:

[code]

[2019-06-09 14:07] Juanlu001 opened #149 "Orbit example from docs can't be propagated"
I tried the first `Orbit` example from the docs and the propagation raises an error:

[code]

I then tried to replace the plain `Quantity` in the dict with a proper `Time` object without success:

[code]

[2019-06-09 14:39] Juanlu001 opened #150 "Testing requires extra steps"
I tried testing the package after `pip install pytest`, [the only testing dependency listed in the docs](https://sbpy.readthedocs.io/en/latest/#requirements), and got an error:

[code]

This code is likely the cause:

https://github.com/NASA-Planetary-Science/sbpy/blob/9867a8622b0034a0e042a42e303f80d566eed749/sbpy/conftest.py#L40-L47

[2019-06-09 14:41] Juanlu001 opened #151 "setup.py should not manually read metadata from setup.cfg"
See https://setuptools.readthedocs.io/en/latest/setuptools.html?highlight=setup.cfg#configuring-setup-using-setup-cfg-files

For example: https://github.com/poliastro/poliastro/blob/8c3fdfcfbc02be18ce3c9b7a1b6703a818d1288a/setup.py#L8

[2019-06-09 14:43] Juanlu001 opened #152 "Tag and version mismatch"
A `v0.1` tag exists, however

https://github.com/NASA-Planetary-Science/sbpy/blob/v0.1/setup.cfg#L35

[2019-06-09 14:43] Juanlu001 commented on #152
That's probably the reason why the docs still point to `v0.0.dev604`

[2019-06-11 16:05] mommermi opened #153 "Improve documentation for data classes"
* define differences between `Ephem`, `Orbit`, `Phys`
* explain available services

[2019-06-11 16:09] mommermi opened #154 "identify coordinate systems in Orbit and Ephem objects"
clarify the coordinate systems used in `Orbit` and `Ephem` objects

[2019-06-11 16:12] mommermi opened #155 "improve documentation for contributions"
it would be nice to describe these steps, even if they are obvious to experienced developers, in https://sbpy.readthedocs.io/en/latest/contributing.html

[2019-06-12 00:35] bsipocz commented on #155
You're welcome to reuse the astropy contribution guide (in case you follow that, or just gut out the things you don't need). In e.g. astroquery we just list what we do on top of that guide (see e.g https://github.com/astropy/astroquery/blob/master/CONTRIBUTING.rst)

[2019-06-12 00:41] bsipocz commented on #151
@Juanlu001 - sbpy uses the astropy package template, including the setup files and as such comes with a lot of historical etc baggage (e.g. supporting older setuptools versions, providing a template to support both python2 and python3 versions, etc), yet for overall maintenance it would be easier for everyone involved to minimize divergence from the template unless there are good reasons for it. T

[2019-06-12 00:46] bsipocz commented on #150
@Juanlu001 - While it's indeed not mentioned in the documentation, the package uses the astropy testing infrastructure thus it should be run via setup.py  to pick up all the configurations correctly:
`python setup.py test`

[2019-06-12 00:49] bsipocz commented on #150
e.g. when you tried I suppose the submodule hasn't been initialized (the astropy testrunner does initialize it, but pytest doesn't) and thus the `NameError` you got. Once you properly have the submodule `pytest sbpy` should work as expected.

[2019-06-12 10:23] Juanlu001 commented on #151
Fair enough! Let's not make this a blocker. Looking forward to the new template :)

[2019-06-12 16:36] mommermi commented on #154
I added some links to the `from_horizons` docstring to clarify the default reference system for both orbital elements and ephemerides, as well as a short explanation on how to change them. The same will be done for `from_mpc` and other query wrappers as soon as they are implemented. I also added links that point to field name definitions for properties that are queried.

I chose this approach over

[2019-06-12 17:52] mommermi commented on #153
more details have been added here: 980adbb

[2019-06-12 18:05] mommermi commented on #149
This issue should have been taken care of by 4d616d1. The problem was that the `orb` object as defined above was not complete for use in `orb.oo_propagate`. Two fields were missing in `orb`: `timescale` and `targetname`. Both properties are now filled in automatically (`timescale` is set to UTC) if not already available in the `Orbit` object. This should make the openorb functionality a lot more a

[2019-06-12 18:20] mommermi commented on #151
Thanks, @bsipocz  and @Juanlu001!

[2019-06-12 18:20] #151 closed

[2019-06-12 18:25] mommermi commented on #152
this has been fixed here: f151802

[2019-06-12 18:28] mommermi commented on #155
Perfect, thanks, @bsipocz!

[2019-06-12 19:18] mommermi commented on #150
I added a note in b8c9a84. referencing the astropy testing guidelines.

[2019-06-12 19:19] mommermi commented on #155
I updated the guidelines here: b8c9a84

Please let me know if you suggest anything else to be mentioned here.

[2019-06-18 17:12] mkelley opened #157 "Initialize DataClass from data rows."
Several times I have wanted to `DataClass.from_rows(rows)`.  This finally formally makes the request!  I would expect it to behave like `astropy.table.Table(rows=rows)`.

[2019-06-18 17:19] mommermi commented on #157
I made a workaround to this, which is currently stuck in the development of `sbpy.thermal`. Instead of returning rows, `DataClass` will always return a `Table` - even if it only has a single line. This makes the use of the results much easier, as you can use `DataClass.from_table`. Do you want me to extract it from the upcoming PR and merge it?

[2019-06-18 17:25] mkelley commented on #157
What are the circumstances you considered there?  Is this after slicing?  I would have expected `DataClass[i]` to return `DataClass`?

Today's case arises from using `itertools.groupby`, which does return a list of rows.  `.from_table(astropy.table.vstack(group))` is my work around.

[2019-06-18 19:08] mommermi commented on #157
Ha. Turns out I haven't yet implemented this. I took a quick stab at it [here](https://github.com/mommermi/sbpy/blob/row_to_table/sbpy/data/core.py#L337). It does what it is supposed to do.

This conversion only happens if an integer is passed to `__getitem__`, so slicing is not involved.

[2019-06-23 16:45] mkelley commented on #157
Either that or a slice via self._table[ident:ident+1].  Whichever is more efficient.

But why return a `QTable` instead of `self`?

[2019-06-23 17:13] mkelley commented on #149
Wouldn't that assumption override the scale provided in the time object as in @Juanlu001's second example?

[2019-06-23 17:18] mkelley commented on #154
If we used SkyCoord, the reference system would be explicitly carried.  I hope we can move to that some day.  Perhaps the `Ephem` object should have a reference system attribute.  `QTables` have a way to carry metadata that we are not taking advantage of.

[2019-06-24 16:39] mkelley opened #159 "License file needs updates"
Change astropy to sbpy, fix year.

[2019-06-24 16:47] mkelley commented on #159
Ah, addressed in #145 !

[2019-06-24 16:47] #159 closed

[2019-06-24 23:15] jianyangli opened #160 "Add sublimation model"
Implement Cowan & A'Hearn (1979) ice sublimation model (activity.sublimation) module to describe comet activity.

[2019-06-24 23:22] mommermi commented on #157
Ok, I fixed it; you want me to create a PR?

[2019-06-25 13:07] mkelley commented on #157
:+1:

[2019-06-26 03:20] mkelley commented on #116
@mommermi How are package requirements specified?  Let's discuss tomorrow.

[2019-06-26 20:52] #155 closed

[2019-06-28 22:23] mkelley opened #171 "Remove submodules that are not implemented."
[MSK done]  [MM to verify]

[2019-07-03 19:20] mommermi opened #176 "bib clean-up"
Currently, there is a lot of garbage in the `bib` results:

Everybody, please check your submodules.

[2019-07-03 19:33] mkelley commented on #176
Looks like at least one bib test is not not leaving tracking disabled.  I'll take care of it.

[2019-07-05 17:49] jianyangli opened #179 "bib report missing class name"
When add a bib entry to a class method, the class name is missing in the bib report.  For example, execute below code piece:

[code]

It will print:

[code]

The class name `A` is missing in the report `__main__.test:`.  Can we add class name?

[2019-07-05 17:54] jianyangli opened #180 "Allow bib @cite decorator for class?"
Can we allow @cite decorator to work on a class definition, so we don't have to overload `__init__` in subclass with just a single line call to `super().__init__`.  Something like below:

[code]

[2019-07-05 18:06] jianyangli commented on #179
Just discovered that a related problem is that the report will merge all entries with the same function name, despite whether they are from the same class or different classes:

[code]

will produce output:

[code]

[2019-07-08 03:54] jianyangli commented on #148
Being address in PR #172

[2019-07-08 22:30] mommermi opened #183 "add coverage report for each PR"
This should not be an issue, but we will have to include remote tests to get a reasonable estimate of the coverage.

@mkelley, of all the remote tests we have, only two fail and both are part of `sbpy.spectroscopy.sun`:
* sbpy/spectroscopy/sun/tests/test_sun.py::TestSun::test_kurucz_nan_error FAILED
* sbpy/spectroscopy/sun/tests/test_sun.py::Test_default_sun::test_set_string_remote[Kurucz1993-sour

[2019-07-08 22:41] mommermi opened #184 "Create Issue Templates"
* [x] issue template
* [x] new feature template

[2019-07-09 20:33] #184 closed

[2019-07-11 16:10] mkelley commented on #183
How did you get sbpy/data/tests/test_orbit_remote.py to pass?  I'm failing locally :(

Something to do with the epochs.  But Ephem.from_horizons with the same values works:

[code]

[code]

[code]

[2019-07-11 16:12] mommermi commented on #183
update `astroquery`. I fixed that issue and it's already merged there.

[2019-07-11 16:17] mkelley commented on #183
Ah, I had a problem installing it that I missed.  It works now.

[2019-07-11 22:55] #171 closed

[2019-07-12 16:21] mommermi opened #187 "Revise documentation based on review comments."
Overall documentation
-----------------------------

Review comments provided in pdf that was sent around:
* [x] MM done
* [x] MSK done
* [x] MdVB
* [x] JYL done
* [x] GG done

Status page
---------------

Is [it](https://sbpy.readthedocs.io/en/latest/status.html) up-to-date?
* [x] MM done
* [x] MSK done
* [x] MdVB
* [x] JYL done
* [x] GG done

Submodule Description
------------------------------

[2019-07-12 18:25] mkelley opened #188 "Package data server"
We need to consider having our own package data server, like data.sbpy.org.  We can host a few of the larger solar spectra files there, and whatever else we'd like.  This should help avoid remote test failures due to ftp/http request time out.

[2019-07-12 18:45] mkelley commented on #183
Skipping those tests for now, cf. #186, #188 .

[2019-07-12 18:49] mkelley commented on #157
#178, done!

[2019-07-12 18:49] #157 closed

[2019-07-15 14:15] mkelley commented on #180
Did you try this before?  At least with PR #190, it just works for me.

[2019-07-15 14:44] mkelley commented on #152
OK to close this one?

[2019-07-15 14:45] mkelley commented on #148
Addressed with #186 .

[2019-07-15 14:45] #148 closed

[2019-07-15 15:01] Juanlu001 commented on #152
Closing!

[2019-07-15 15:01] #152 closed

[2019-07-15 15:50] #183 closed

[2019-07-16 04:22] jianyangli commented on #180
Indeed, it does.  I did try it before and it didn't work.  Can't remember details, though.  Anyway, I guess we can close this issue.

[2019-07-21 13:08] jianyangli opened #195 "Allow @cite decorator on base class?"
When subclass a class that has a @cite decorator directly on the class definition, an exception is raised:

[code]

Exception:
[code]

[2019-07-21 16:58] mkelley commented on #195
Oh, `A` is not a class after being decorated!

[2019-07-21 18:09] mkelley commented on #195
As far as I understand, what needs to happen is that `@cite` creates a class that is a subclass of `A`, decorates its `__init__` function, then returns the result.  This is going to obfuscate things at the command line:
[code]
Notice the horrendous class name for `A`?  I don't know how to get around that.

[2019-07-21 23:38] jianyangli commented on #195
This would make the citation report looking ugly.  Is there a way to fix that?  If that can be fixed, then I don't think this is a problem.

[2019-07-22 11:21] mkelley commented on #179
Both cases were fixed with PR #190 .

[2019-07-22 11:21] #179 closed

[2019-07-22 11:22] mkelley commented on #176
I think this is fixed.  I haven't seen any extra lines after the tests.

[2019-07-22 11:38] mkelley commented on #180
I've gotten this far, but notice how the signature of `__init__` is still based on the true class name:
[code]

[code]

[2019-07-22 11:39] mkelley commented on #180
Ooops, pasted in the wrong window.  Moving to #195 .

[2019-07-22 11:39] #180 closed

[2019-07-22 11:40] mkelley commented on #195
I've gotten this far, but notice how the signature of `__init__` is still based on the true class name:
[code]

[code]

[2019-07-22 11:40] #82 closed

[2019-07-23 15:17] mkelley opened #203 "Combining DataClass objects"
This is a request for
* [x] a new feature
* [ ] an enhancement to existing sbpy functionality
* [ ] somethings else: [explain here]

The requested changes will be implemented by
* [ ] me
* [x] the sbpy developers

**High-level concept**
Provide a mechanism to combine `DataClass` objects that have different fields.

**Explain the relevance to sbpy**
`DataClass` objects have flexibility beyond what

[2019-07-23 18:43] mkelley opened #204 "Limited feedback from Orbit.from_horizons"
**High-level problem description**
I am attempting to retrieve an orbit from Horizons.  The code failed, but cannot be easily debugged.

**What did you do?**
[code]

**What did really happen?**
[code]

The message from astroquery is to check the URI, but there is no URI to check.  Orbit.from_horizons should append the URI for the user.

**Provide information on your environment:**
sbpy version: la

[2019-07-23 18:47] mkelley commented on #204
And astroquery 0.3.10.dev5546, if it matters.

[2019-07-23 18:49] mkelley opened #205 "Orbit.from_horizons error on astropy Time objects"
**High-level problem description**
I am retrieving orbital elements from Horizons, but passing an astropy ``Time`` object fails.

**What did you do?**
[code]

**What did really happen?**
[code]

Getting into the debugger, reveals:
[code]

**Provide information on your environment:**
operating system and version: [Linux (which distribution?), MacOS, Win]
sbpy version: latest
astropy version: 3.2.1

[2019-07-23 18:59] mkelley opened #206 "Ephem.from_oo crash using astropy Time"
And following from #205 ... `Ephem.from_oo` is not accepting astropy `Time` objects, but the documentation says it should:

[code]

Yields:
[code]

[2019-07-25 21:28] mkelley opened #209 "Verify existing notebooks: do they run? are they still useful?"
Opening this issue as a reminder for all and to mark it for milestone v0.2.

[2019-07-25 21:31] mkelley commented on #209
Notebooks to check:

- [ ] photometry/integrated_phasefunc.ipynb
- [ ] data/Orbit.ipynb
- [ ] data/General_concepts.ipynb
- [ ] data/Phys.ipynb
- [ ] data/Names.ipynb
- [ ] data/Ephem.ipynb
- [ ] activity/productionrates.ipynb
- [ ] activity/dust.ipynb
- [ ] activity/gas.ipynb
- [ ] activity/jplspec.ipynb

[2019-07-27 18:08] mkelley commented on #209
PRs for dust and gas submitted.

[2019-07-28 03:35] gianninapr commented on #209
I want to add stuff to jplspec one, will do so Monday

[2019-07-29 15:15] jianyangli commented on #146
Addressed by #213

[2019-07-29 15:15] #146 closed

[2019-07-30 14:37] jianyangli commented on #195
Well, looks like we need to explore other approaches.  I was thinking of engineering the `bib.register` function to remove the horrendous class names, but the problem is the real class name is now `<local>` and no longer visible.  Let's leave this for the future.

For now, although function decorator `@cite` works on class, we should only use it on functions because decorated class is no longer cl

[2019-07-31 16:35] mommermi commented on #203
This is an interesting and non-trivial problem. Orbits for different objects use different parameters:

[code]

I have to think about how to solve this. Initially, I was reluctant to provide `DataClass.add_row` as it basically provides the same functionality as `Table.from_row`, but this might be a good case supporting it.

[2019-07-31 16:39] mommermi commented on #206
As per #193, all epochs have to be `astropy.time.Time` objects, which automatically takes care of this issue:

[code]

[code]

[2019-07-31 16:39] #206 closed

[2019-07-31 16:43] mommermi commented on #205
This has been fixed with #193.

[2019-07-31 16:43] #205 closed

[2019-07-31 16:55] mommermi commented on #204
fixed as per #193

[2019-07-31 16:55] #204 closed

[2019-07-31 16:56] mommermi commented on #188
how about `github.com/NASA-Planetary-Science/sbpy-data`?

[2019-07-31 16:57] mommermi commented on #187
@mkelley @migueldvb @jianyangli  @gianninapr just a reminder to track your progress here. Thanks!

[2019-07-31 16:58] #153 closed

[2019-08-01 21:16] mommermi commented on #203
note to myself: I tried to get around this issue by joining the two tables, but the problem is that both `Time` and `Quantity` cannot be masked, which is necessary for performing an `outer` join:

[code]

There is no quick fix that could be included in v0.2....

[2019-08-01 21:32] #176 closed

[2019-08-01 21:33] #150 closed

[2019-08-01 21:34] mommermi commented on #149
The time scale problem has been fixed: only time scales provided through `Time` objects are now considered.

[2019-08-01 21:34] #149 closed

[2019-08-01 21:41] #85 closed

[2019-08-01 21:43] mkelley commented on #203
That makes this related to Issue #89 .

[2019-08-01 21:45] mkelley commented on #188
I think I can get data.sbpy.org via firebase.  I've been able to setup a bucket and uploaded a file.  I doubt we'll exceed the bandwidth limits for the free tier, especially if we are smart about remote tests.

[2019-08-01 23:37] gianninapr commented on #209
@mommermi

data/General_concepts needs to be updated to not use `add_column` anymore, `apply` is the new one.

All other notebooks seem to be running alright if pyoorb is installed.

I have opened a pull request in sbpy-tutorials with the addition of the pyradex code example into productionrate.ipynb, and with the addition of `from_jplspec` examples in data/phys.ipynb

[2019-08-01 23:41] gianninapr commented on #209
@jianyangli photometry/integrated_phasefunc.ipynb isn't really working well for me. Of the highlight errors I get are the following, in order of occurrence:

[code]

[2019-08-01 23:48] gianninapr commented on #118
See #189

[2019-08-01 23:54] gianninapr opened #215 "pyradex testing issues"
See #189

Due to the heavy dependency of this code on pyradex, we will have to find a way to work around remote tests and Travis not being able to import pyradex within the environment. Since the pyradex implementation is a big chunk of code, codecov isn't happy that we're not testing the pyradex implementation. Maybe monkey patching is an option? I'm unfamiliar with how to monkey patch in python

[2019-08-02 04:58] migueldvb commented on #215
In the remote test that needs `pyradex` you can try importing it in the beginning of the function and skip the test if the wrapper is not available.

[code]

The  test is passing fine locally for me as well. Perhaps if you uncomment `test_Haser_pyradex` with that modification the code coverage will increase but I'm not sure. I think there is not much more that can be done unfortunately.

[2019-08-02 12:38] mkelley commented on #187
#212

[2019-08-02 22:44] mommermi commented on #215
Let me reopen this for now as a reminder (to myself): maybe it is possible to monkeypatch pyradex and at least to test the functionality implemented in sbpy...

[2019-08-06 20:10] mommermi commented on #209
@jianyangli Did you have a chance to check your notebook?

[2019-08-07 03:45] jianyangli commented on #187
#217

[2019-08-07 04:27] jianyangli commented on #209
Working on it now.

[2019-08-10 02:18] jianyangli opened #221 "Standardize the dimension specification in Field Name List and improve tests"
This is a request for
* [ ] a new feature
* [x] an enhancement to existing sbpy functionality
* [ ] somethings else: [explain here]

The requested changes will be implemented by
* [x] me
* [x] the sbpy developers

**High-level concept**
[Provide a short description of the scientific or technical problem that your new feature would address.]

As suggested by @mkelley in PR #218:
1. The dimension in

[2019-08-10 13:05] jianyangli commented on #147
PR #222

[2019-08-13 12:54] jianyangli commented on #147
Done.

[2019-08-13 12:54] #147 closed

[2019-08-13 15:42] jianyangli commented on #209
Updated photometry notebook merged.

[2019-08-14 17:40] #215 closed

[2019-08-14 23:53] mommermi commented on #209
Thanks, guys, for working on this!

[2019-08-14 23:53] #209 closed

[2019-08-14 23:53] #187 closed

[2019-09-18 08:04] bcarry opened #228 "Identifiers for solar system objects"
There is a VO service by IMCCE which is super fast and very convenient to "translate" any identifier of a solar system body (asteroid, comet, satellite, planet, debris, ...) into its full list of other identifiers (desig, name, number, ...).
The main service is called SSODNET: http://vo.imcce.fr/webservices/ssodnet/
and the name resolver is called Quaero: http://vo.imcce.fr/webservices/ssodnet/?qu

[2019-09-18 08:20] bcarry opened #229 "Feature request: shape"
This is a request for
* [X] a new feature
* [ ] an enhancement to existing sbpy functionality
* [ ] somethings else: [explain here]

The requested changes will be implemented by
* [X] me
* [X] the sbpy developers

**High-level concept**
Suite of tools to compute the orientation of a shape model from an observer point of view, giving a shape/spin, and an Ephem object

**Explain the relevance to sbp

[2019-09-19 06:24] mommermi opened #230 "1-d thermophysical modeling"
This is a request for
* [x] a new feature
* [ ] an enhancement to existing sbpy functionality
* [ ] somethings else: [explain here]

The requested changes will be implemented by
* [x] me
* [ ] the sbpy developers

**High-level concept**
Aurelie Guilbert-Lepoutre a 1-d thermophysical model to sbpy

**Explain the relevance to sbpy**
extension of sbpy `thermal` module

**Proposal details**
The idea w

[2019-12-10 20:06] mkelley opened #234 "Astropy 4.0 SpecificTypeQuantity and ABCMeta classes"
sbpy's use of abstract base classes does not work with astropy 4.0, raising `TypeError: Cannot create a consistent method resolution`.  ~Also, import from `collections.abc`.~

Courtesy of @bsipocz:

[code]

[2019-12-10 20:19] bsipocz commented on #234
in fact I'm not sure it's due to the astropy RC, but rather changes in pytest

[2019-12-10 20:26] bsipocz opened #235 "Add weekly cron job to CI"
A convenient way to pick up breaking changes in the dependencies is to run the CI regularly, even when there is no PR activity. E.g. one of the jobs can be configured on travis to also run it once a week.

[2020-01-26 14:23] mkelley commented on #52
Is this still an issue?

[2020-01-26 22:13] mommermi commented on #52
So far, nobody has complained, so I guess it's fine. But I can test this tomorrow...

[2020-03-22 19:29] Yeqzids opened #239 "set unit error of converted CircularAperture"
**High-level problem description**
CircularAperture converted to linear units lead to "set unit error" in `sbpy.activity.total_number` function. (RectanglarAperture works fine.)

**What did you do?**
[code]

**What did you expect?**
Number of molecules in the aperture (e.g. 2.528e+28).

**What did really happen?**
[code]

**Provide information on your environment:**
operating system and version: [

[2020-03-23 19:11] mkelley commented on #239
Thanks, @Yeqzids .  I've confirmed the bug and made a fix.  However, I calculated a different expected value wit direct integration: 5.2e26.  Is 2.528e+28 a made up value or the result you expected?

[2020-03-23 20:39] Yeqzids commented on #239
Yes, that's a made-up number... don't worry about it :)

[2020-03-23 20:59] mkelley commented on #239
:+1:

[2020-03-23 21:49] #239 closed

[2020-03-25 13:14] mkelley opened #241 "Document additional usage of closest_apparition"
astroquery's `Horizons.ephemerides` has a `closest_apparition` parameter that selects the orbit closest to the epoch(s) being requested.  The default is to select the most recent orbit when `closest_apparition is True`.  According to JPL Horizons's [documentation](https://ssd.jpl.nasa.gov/?horizons_doc) other orbits can be selected:
[code]
This is possible with astroquery, but undocumented.  We sh

[2020-04-15 12:32] mkelley commented on #235
Thanks for the tip!  Done.

[2020-04-15 12:32] #235 closed

[2020-04-22 22:34] mkelley opened #248 "NASA Partner logo"
NASA has new logo guidelines, which allow us to use the NASA meatball, but below it needs to be the string "Partner".

https://www.nasa.gov/sites/default/files/atoms/files/nasa_insignia_guidelines_for_nasa_grantees.pdf

[2020-04-23 19:08] #248 closed

[2020-04-23 19:28] mkelley opened #250 "Add sbpy to conda-forge and the astropy channel"
We're not available through anaconda, but could be!  https://github.com/astropy/conda-channel-astropy

[2020-06-17 00:31] #234 closed

[2020-06-18 00:55] mkelley opened #265 "Ephem.from_oo expects Tp_jd"
**High-level problem description**
Propagating an orbit retrieved from the Minor Planet Center does not "just work."

**What did you do?**
[code]

**What did you expect?**
The ephemeris to be generated.

**What did really happen?**
Crash!
[code]

However, Tp is included in the orbit under a different key name.  Best approach would be we look for Tp as a `Time` object, rather than a field name Tp_j

[2020-08-07 09:30] bcarry opened #268 "issue report: astroquery/imcce/core.py"
**High-level problem description**

The simple cone-search query with Skybot failed, apparently because Skybot API place a "-" in the Number column for each non-numbered asteroid

**What did you do?**

from astropy.coordinates import SkyCoord
from astroquery.imcce import Skybot
from astropy import units as u
from astropy.time import Time

epoch = Time( '2020-06-01T00:00:00.0', format='isot')
field

[2020-08-08 14:53] mkelley commented on #268
Hi @bcarry  This looks like an astroquery issue, rather than an sbpy issue, so I'm closing it here.  However, the returned table column should be masked when the number is missing.  I tried reproducing the error, but could not, even after downgrading astropy and astroquery.  (Did you mean astropy v0.3.10, or astroquery v0.3.10?)  I recommend trying to upgrade astroquery and
astropy.  sbpy 0.2 shou

[2020-08-08 14:53] #268 closed

[2020-10-29 19:54] pllim opened #269 "MNT: Stop using ci-helpers in appveyor.yml"
To whom it may concern,

If you are using https://github.com/astropy/ci-helpers in your appveyor.yml , please know that the Astropy project has dropped active development/support for Appveyor CI. If it still works, good for you, because we did not remove the relevant files (yet). But if it ever stops working, we have no plans to fix anything for Appveyor CI. Please consider using native Windows su

[2020-11-18 03:36] astroboy8 opened #270 "Missing alphabet from declared string within sbpy.data.names. Unpacking returns incorrect value"
**Incomplete alphabet in declared string, used for packing and unpacking Asteroid designations**
The string 'pkd' declared within class Names is missing the alphabet 'j', instead 'f' is repeated twice.

**Original code obtained from sbpy**
# class Names():
    """Class for parsing target identifiers. The functions in this class will
    identify designation, name strings, and number for both comet

[2020-11-20 00:08] mkelley commented on #270
Thanks for the bug report, @astroboy8 .  I've referred to the [documentation](https://www.minorplanetcenter.net/iau/info/PackedDes.html) and I agree that this appears to be an error.  I'll make a fix now.

[2021-03-09 15:23] mkelley opened #272 "feature request"
This is a request for
* [ ] a new feature
* [x] an enhancement to existing sbpy functionality
* [ ] somethings else: [explain here]

The requested changes will be implemented by
* [ ] me
* [x] the sbpy developers

**High-level concept**
Enable arithmetic with `SpectralSource`.

**Proposal details**
`synphot` `SpectralSource`s can be added together to form a new source, or scaled.  `sbpy`'s `Spectr

[2021-03-09 15:28] mkelley opened #273 "Make SpectralSource instantiable"
This is a request for
* [ ] a new feature
* [x] an enhancement to existing sbpy functionality
* [ ] somethings else: [explain here]

The requested changes will be implemented by
* [ ] me
* [x] the sbpy developers

**High-level concept**
Make `SpectralSource` instatiable to more easily enable creating sources.

**Proposal details**
Possibly required for #272

**Example (pseudo-)code**
`spec = Spect

[2021-03-09 16:04] mkelley opened #274 "rename master branch to main"
See astropy/astropy-project#151

[2021-03-12 15:58] mkelley opened #276 "Phys field 'lgint' is not a logarithmic unit"
JPL's molecular line catalog returns a field named 'lgint':
[code]
`sbpy` converts this quantity into linear units in `Phys.from_jplspec`, but keeps the same field name.

The field name should be renamed to '`intensity`'

[2021-04-30 01:03] mkelley opened #279 "Error parsing C/2014 S2 (Pan-STARRS) as a comet name"
[code]

The name should be 'Pan-STARRS'.

[2021-05-21 18:49] jianyangli opened #280 "Linear reddening/bluing of spectrum"
This is a request for
* [ ] a new feature
* [x] an enhancement to existing sbpy functionality
* [ ] somethings else: [explain here]

The requested changes will be implemented by
* [x] me
* [ ] the sbpy developers

**High-level concept**
We often need to redden/bluen the solar spectrum and calculate the reddened/bluened color index through arbitrary filters.  The current implementation of `sbpy.cal

[2021-05-28 10:40] anttipenttila opened #282 "Possible bug in Photometry, Disk-integrated phase functions"
There is either a bug in the disk-integrated phase functions in the photometry module, or then I don't understand how to use them properly. The problem is simple, and you can see it from the example code that follows. In short, with all other than the HG-phase function, the 'evaluate' method returns different (and wrong) values compared to the one returned by the model object that is initialized w

[2021-05-28 13:27] jianyangli commented on #282
The cause is that the `.evaluate` static method in `HG1G2` class doesn't check the unit of phase angle and convert it to the required unit (rad) before passing to the functions to evaluate Phi1(phase) and Phi2(phase), both of which take values (non-`u.Quantity`) default to radiance as parameters.  `astropy.modeling.Fittable1DModel`, which is the base class of `HG1G2`, takes care of the unit conver

[2021-06-21 16:58] mkelley opened #290 "Move examples to tutorials repo?"
Here, we have an example directory with a couple notebooks, but we also have documentation that could include examples, and a separate sbpy-tutorial repository.  I didn't even remember that the examples directory existed.  Can we move examples to the tutorials and drop this directory?

[2021-06-24 02:46] jianyangli opened #291 "sbpy.spectroscopy.SpectralSource class subclasses synphot.spectrum.SourceSpectrum"
This is a request for
* [ ] a new feature
* [x] an enhancement to existing sbpy functionality
* [ ] somethings else: [explain here]

The requested changes will be implemented by
* [ ] me
* [x] the sbpy developers

**High-level concept**
Currently `sbpy.spectroscopy.SpectralSource` has the spectrum in a `synphot.spectrum.SourceSpectrum` instance as a class attribute.  By subclassing `synphot.spectr

[2021-06-24 02:48] #280 closed

[2021-06-24 02:54] jianyangli commented on #290
I agree.  It's more pythonic to integrate examples into documentations.  For more complicated examples, the tutorial repository is a good place to go.

[2021-06-24 02:59] jianyangli commented on #52
Just checking back on the existing issues...

Since astropy-helpers is dropped now from the infrastructure, should this issue be dropped as well?

[2021-06-24 14:12] mkelley commented on #52
Agreed.

[2021-06-24 14:12] #52 closed

[2021-07-12 00:35] #282 closed

[2021-07-14 14:49] mkelley opened #294 "Orbital dynamics calcuations"
**High-level concept**
Add methods to `Orbit` to calculate the Tisserand parameter with respect to another body, and the orbital similarity parameter D (Jopek 1993).

**Explain the relevance to sbpy**
These are standard solar system parameters that are easy to implement.

**Example (pseudo-)code**
[code]

[2021-09-04 11:48] vishvanathan-k commented on #279
Is this issue still open or can I take it on ??

[2021-09-25 23:07] mkelley opened #296 "CO and HCN are no longer present in LAMDA database?"
Remote test `test_einstein()` in `test_prodrate_remote.py` fails, apparently due to missing molecules:

[code]

When I check `Lamda` for what's available, I do not see CO or HCN:
[code]

[2021-09-26 17:40] mkelley commented on #296
The test will be skipped for now via #297

[2021-09-26 23:51] #270 closed

[2021-09-27 00:19] mkelley commented on #265
[code]

Works now via updates in #262

[2021-09-27 00:19] #265 closed

[2021-09-27 00:21] mkelley commented on #269
Addressed by #298

[2021-09-27 00:21] #269 closed

[2021-09-27 00:27] mkelley commented on #221
I think I've mostly addressed this with #275.  However, I was not aware of astropy's PhysicalTime and locally implemented a similar solution.  So, I would prefer using astropy machinery over our own, so I would like to do that.  Thanks for pointing this out.

[2021-10-13 14:20] mkelley opened #303 "GasComa.total_number does not accept Quantity"
**High-level problem description**
GasComa.total_number does not accept Quantity for apertures, but documentation says it should.

This came about by testing #278.

[code]

[code]

[2021-10-13 14:42] mkelley opened #304 "Update documentation for Vectorial model"

[2021-12-21 17:02] #303 closed

[2022-01-20 21:16] mkelley opened #311 "Proposed enhancements from LSTT SSSC"
The LSST Solar System Science Collaboration has proposed a few enhancements for sbpy.  This issue is to track the status of the proposal and the progress of the tasks, if selected.

The top-level goals are to enhance the sbpy Python module by completing the following:
1. Create a module for sbpy that, given an arbitrary filter transmission curve (e.g., a custom VR filter, PanSTARRS w' band, ATLAS

[2022-01-23 16:37] Yeqzids commented on #311
Isn't sbpy already available through conda-forge? https://anaconda.org/conda-forge/sbpy

[2022-01-23 16:43] Yeqzids opened #312 "importing sbpy.activity resulting "cannot create a consistent method resolution order (MRO) for bases type, ABCMeta""
**High-level problem description**
Not able to import sbpy.activity.

**What did you do?**
If I do
[code]
I am getting
[code]

**What did you expect?**
The module should load.

**What did really happen?**
See the error message posted above.

**Provide information on your environment:**
operating system and version: [Linux (which distribution?), MacOS, Win] Red Hat 8.5
sbpy version: 0.2.2
astropy v

[2022-01-23 16:46] Yeqzids commented on #312
I see that issue #234 mentioned the same (similar?) problem and I had run into the same problem before (as noted in issue #239 ), but that issue is closed so I assume it has been fixed?

[2022-01-24 13:53] mkelley commented on #311
Interesting, thanks for pointing that out.  Our task will be to be sure that it remains there, working with future versions.

[2022-01-24 13:55] mkelley commented on #312
v0.2.2 requires astropy<4.0.  Try either downgrading astropy, or installing from sbpy's master branch.

[2022-01-24 16:52] Yeqzids commented on #312
Thanks Mike, I have gotten it to work. My snippet on colab that used to work is now broken after the upgrade of Horizons API, so I stumbled upon the same problem. I am closing this issue.

[2022-01-24 16:52] #312 closed

[2022-01-24 16:56] Yeqzids commented on #311
Thanks. In case anybody is reading, the conda-forge version is apparently up to date, but be aware that it will not check for dependency/compatibility with astropy (see #312; sbpy 0.2.2 needs astropy<4.0). So what I do is to set up another conda environment with astropy<4.0 and sbpy will run smoothly.

The dependency is probably mentioned somewhere in the README but I didn't see it...

[2022-01-25 15:28] kaya4me2 opened #313 "Astropy Conflict"
**High-level problem description**
astropy version  conflict

**What did you do?**
Installing collected packages: PyYAML, pyerfa, astropy, photutils
  Attempting uninstall: astropy
    Found existing installation: astropy 3.2.3
    Uninstalling astropy-3.2.3:
      Successfully uninstalled astropy-3.2.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are

[2022-01-25 16:36] mkelley commented on #313
Hi @kaya4me2, thanks for the issue, but this report is a little bit unclear to me.  Were you installing sbpy or upgrading astropy, or else what command brought you to this error?

[2022-01-25 16:45] kaya4me2 commented on #313
created new environment (condo create --name spy python 3.8),
then pip installed sbpy ,
then attempted to get photutils into the environment as one of the user add-on, like ginga or pyradex

re:

The following packages will have to be installed manually, if the user wants to use them:

oorb: For orbit transformations (oo_transform) and propagations (oo_propagate), as well as ephemerides calculatio

[2022-01-25 17:13] mkelley commented on #313
Ah, I think this is a version conflict between sbpy 0.2.2 and photutils 1.3.0.  Unfortunately, this means using an old version of photutils or using an advanced version of sbpy.  If your goal is to use the Ginga plugin, it would be better to use an older photutils.  Looking at photutils's history, it seems sbpy 0.2.2 and photutils<1.0 can work together.  I tried it out in a virtual environment wit

[2022-01-25 21:05] mkelley commented on #272
This may be addressed via #291

[2022-01-25 21:07] mkelley commented on #69
This should be addressed now in the current testing environment via #301

[2022-01-25 21:07] #69 closed

[2022-01-25 21:13] mkelley commented on #116
We've been pinned to synphot>=1.0 via #284

[2022-01-25 21:13] #116 closed

[2022-01-27 14:41] mkelley opened #316 "Add GAIA filter throughputs"
This is a request for
* [ ] a new feature
* [x] an enhancement to existing sbpy functionality
* [ ] somethings else: [explain here]

The requested changes will be implemented by
* [ ] me
* [x] the sbpy developers

**High-level concept**
Add GAIA filter throughputs.

**Explain the relevance to sbpy**
A lot of SSO astrometry is measured with respect to the GAIA catalog, and at the same time photomet

[2022-02-02 14:51] mkelley commented on #304
Addressed in #305

[2022-02-04 10:45] mkelley opened #317 "Inconsistent time order in Ephem.from_*"
**High-level problem description**
When requesting ephemerides at specific epochs, the order of the returned rows may be in sorted order rather than in the same order as the original request.

**What did you do?**
[code]
Results:
[code]

**What did you expect?**
I expected the date to be in the same order as my original array.

**What did really happen?**
The JPL Horizons result was sorted, but th

[2022-02-04 10:55] mkelley commented on #317
I think the solution is to sort epochs before sending to Horizons, then unsort the result to get back to the user's requested order.

[2022-02-04 11:06] mkelley commented on #313
I'll close the issue for now, but re-open if you continue to have a problem.  Also, look out for sbpy v0.3 when it is released as it should be compatible with contemporary astropy packages.

[2022-02-04 11:06] #313 closed

[2022-02-05 15:18] mkelley commented on #296
CO and HCN are present now and the test is passing.

[2022-02-05 15:18] #296 closed

[2022-02-15 23:50] #304 closed

[2022-02-15 23:51] #317 closed

[2022-02-16 20:11] mkelley opened #320 "Revise issue templates"
scikit-learn has what appears to be a useful example to start with: https://github.com/scikit-learn/scikit-learn/blob/main/.github/ISSUE_TEMPLATE/bug_report.yml

[2022-02-18 14:40] mkelley opened #321 "Codecov not running"

[2022-03-13 21:59] kaya4me2 opened #323 "Orbit.from_horizons is incompatible with new Horizons query interface (?)"
**High-level problem description**
Horizons query interface has changed, and various kwargs like majorbody deprecated. Some basic sbpy functionality
now fails.

Readthedocs Class on this need updating: https://sbpy.readthedocs.io/en/latest/api/sbpy.data.Orbit.html#sbpy.data.Orbit

**What did you do?**
 (working in Jupiter notebook)

import sbpy
import matplotlib.pyplot as plt
import astropy.units

[2022-04-19 04:14] jianyangli opened #324 "`sbpy.data.Phys.from_sbdb` error in processing units"
**High-level problem description**
`sbpy.data.Phys.from_sbdb` reports error when parsing units like 'kg/m^3'

**What did you do?**
Tried to pull the physical properties of asteroid Bennu from JPL SBDB with below lines:

[code]
**What did you expect?**
Return all physical properties available from SBDB in a `sbpy.data.Phys` class object.

**What did really happen?**
Exception:
ValueError: 'J/m^2/s^

[2022-04-19 14:47] jianyangli commented on #324
hmm, probably astroquery problem.  I'll investigate.

[2022-04-20 02:36] jianyangli commented on #324
Yes it's an `astroquery.jplsbdb.SBDB` class problem.  Close this issue here, and I'll submit an issue to astroquery.

[2022-04-20 02:36] #324 closed

[2022-04-27 13:31] jianyangli opened #326 "`sbpy.bib` ADS query problem due to `ads` module being out of date?"
**High-level problem description**
`bib.to_text()` and similar functions that involve ADS query returns `ads.exceptions.APIResponseError`.

**What did you do?**
[code]

**What did you expect?**
Print out a text string with reference information retrieved from ADS.

**What did really happen?**
A `ads.exceptions.APIResponseError` exception is issued.

/Users/jyli/.env/work/lib/python3.8/site-package

[2022-04-27 13:43] jianyangli commented on #323
I can't reproduce the error that you encountered.  The below code works well on my system.

[code]

My system info:
MacOSX 10.15.7
sbpy == 0.2.3.dev223+g9eb0523
astroquery == 0.4.7.dev7714

From what you posted, it looks like a low-level network connection problem, rather than an `sbpy` or `astroquery` problem.  Could you check again?  Thanks.

[2022-04-27 14:15] jianyangli commented on #290
I just checked what's in the example directory.  Other than two .rst files, there are three ipython notebooks files:

estimating-coma-continuum.ipynb
- Contains one example, which makes use of @mkelley 's proprietary `mskpy` library.
- I think this file is significantly outdated and can be dropped.  The content should have been covered by dust-coma-brightness.ipynb in sbpy-tutorial repository.

ha

[2022-04-27 16:02] jianyangli commented on #89
Looks like this is no longer an issue?  My test below looks good to me.

[code]

The related issue in astropy was closed in Apr 2021.  Should we close this issue?

[2022-04-27 16:16] jianyangli commented on #36
Probably related to #326

[2022-04-27 16:18] jianyangli commented on #326
Similar problem reported in https://github.com/NASA-Planetary-Science/sbpy-tutorial/issues/26#issue-1167608986

[2022-04-27 16:23] jianyangli commented on #26
Hi all, what is the status of this calibration?  Have the mentioned functionalities incorporated into ` astroquery`?  And should we keep this issue here or close it?

[2022-04-27 17:15] astrojuanlu commented on #26
Hi @jianyangli , there was some back and forth to contribute the DASTCOM database first to astroquery, then to sbpy https://github.com/NASA-Planetary-Science/sbpy/pull/115 but the effort stalled.

Both poliastro and sbpy have `Orbit` classes, and in fact sbpy inspired me to add `Ephem` objects too. I think it's evident that there's a lot of overlap between both projects: for example, both `poliast

[2022-04-27 17:15] #26 closed

[2022-04-27 17:45] jianyangli commented on #26
Thank you @astrojuanlu for your response.  I'm not very familiar with oorb, and in fact I often have trouble setting it up in my system.  In my opinion, it would be useful for us (sbpy team) to investigate the best underlying mechanism to realize orbit propagation in sbpy.  We will discuss all the new developments in various softwares internally and reach out if needed.  In any case, thank you ver

[2022-04-27 17:51] jianyangli commented on #36
@mkelley @migueldvb Can you two take a look at this one and also #326 because it's affecting the normal function of sbpy for our v0.3 release.  We should at least resolve #326 for the v0.3, if not switch to `astroquery.nasa_ads` for this release.

[2022-04-27 19:29] mkelley commented on #326
Hi @jianyangli , it looks like you are missing an ADS API token.  Is that the case?  We have some notes on it at the top of: https://sbpy.readthedocs.io/en/latest/sbpy/bib.html

[2022-04-27 19:37] mkelley commented on #89
It does seem to work now.  The masking support in astropy is experimental, but I see no reason to keep this issue open.

[2022-04-27 19:37] #89 closed

[2022-04-27 19:44] #326 closed

[2022-04-27 19:52] jianyangli commented on #36
OK, #326 was due to my not setting ADS token, and closed now.  There is no urgency for this issue for v0.3 then.

[2022-04-27 21:33] jianyangli commented on #323
Hello @kaya4me2 , I tested `Orbit.from_horizons` with a clean set up of `sbpy` in an virtual environment on my computer, and everything worked fine.  Could you please try the below code snippet, assuming you've already had `virtualenv` installed, and let me know how it works?  Let me know if you need help setting up your virtual environment.

In your terminal, type:

[code]

Then in python, type:

[2022-04-27 21:55] kaya4me2 commented on #323
followed instructions created a virtual environment, pip installed from git

(test_sbpy_orbit) (testbug) bash-3.2$ python
Python 3.7.12 | packaged by conda-forge | (default, Oct 26 2021, 05:59:23)
[Clang 11.1.0 ] on darwin
Type "help", "copyright", "credits" or "license" for more information.

Fails with similar problem to the jupyter notebook....

Traceback (most recent call last):
  File "<stdin

[2022-04-27 23:33] jianyangli commented on #323
Hmmm, I don't know what's going on here.  Looks like it's the failure in the low-level `request` package, which I'm not familiar with.  I tried to search online and find some reports on similar error messages, but couldn't reproduce any in my system.

@mkelley when you have time, can you take a look and suggest how to proceed with a diagnosis?  Thanks.

[2022-04-28 00:41] kaya4me2 commented on #323
yep  ... will be speaking with mike k on a telecon this week and  will
bring the issue up ... tx

On Wed, Apr 27, 2022 at 6:33 PM Jian-Yang Li ***@***.***>
wrote:

--
Chick Woodward, Professor
Fellow American Astronomical Society
Fellow African Scientists Institute
MN Institute for Astrophysics
116 Church Street, SE
University of Minnesota, Minneapolis, MN 55455
Ph: 612-624-0254 / Fax: 612-624-025

[2022-04-29 18:00] kaya4me2 commented on #323
from astroquery.jplhorizons import Horizons
q = Horizons(1, id_type='smallbody')
q.elements()

fails with same error .... as does attempting to run Horizons code snippets describe at

https://astroquery.readthedocs.io/en/latest/jplhorizons/jplhorizons.html

obj = Horizons(id='Ceres', location='568', epochs={'start':'2010-01-01', 'stop':'2010-03-01','step':'10d'})
eph = obj.ephemerides()

Results i

[2022-04-30 14:22] jak574 commented on #323
https://github.com/skyfielders/python-skyfield/issues/740#issuecomment-1113996790

Fixed now by JPL I believe (at least it works for Skyfield).

[2022-05-03 14:22] jianyangli opened #328 "feature request"
This is a request for
* [x] a new feature
* [x] an enhancement to existing sbpy functionality
* [x] somethings else: support of future development of reflectance related code

The requested changes will be implemented by
* [x] me
* [x] the sbpy developers

**High-level concept**

Given the profound confusion of all sorts of different reflectance and albedo used in the planetary science research co

[2022-05-03 17:47] jianyangli commented on #328
Related to #138

[2022-05-03 17:48] jianyangli commented on #138
Closed and the related issue is covered in #328

[2022-05-03 17:48] #138 closed

[2022-05-03 18:07] jianyangli opened #330 "Problem when model parameters is a `astropy.units.Magnitude`"
**High-level problem description**

When any model parameter is an `astropy.units.Magnitude` type, model evaluation fails.

**What did you do?**

[code]

**What did you expect?**

Print out the value of HG phase function at 30 deg phase angle:

4.75 VEGAmag

**What did really happen?**

The above code snippet will throw a `UnitTypeError`, stating that 'Quantity instances require normal units, not

[2022-05-04 00:22] jianyangli opened #331 "Add Hapke photometric model"
This is a request for
* [x] a new feature
* [ ] an enhancement to existing sbpy functionality
* [ ] somethings else: [explain here]

The requested changes will be implemented by
* [x] me
* [x] the sbpy developers

**High-level concept**

Add Hapke photometric model to `sbpy.photometry` submodule.

**Explain the relevance to sbpy**

The Hapke photometric model is in the original development plan fo

[2022-05-04 12:56] mkelley commented on #323
Great, glad to hear this is fixed!

[2022-05-04 12:56] #323 closed

[2022-05-04 12:57] mkelley commented on #290
@jianyangli Your plan sound good, thanks.

[2022-05-04 13:16] mkelley commented on #328
I'm not confident enough on my reflectance concepts to provide a quick answer, but perhaps we can find someone on our original proposal team to comment?  I'll send an email today.

Regarding albedo, I think your top-level concept is too narrow (albedo is the ratio of the disk-integrated brightness of a solar system planetary body at an arbitrary phase angle to that of a perfect Lambert disk of the

[2022-05-04 21:34] jianyangli commented on #328
I totally agree about all the albedo quantities to be defined in `sbpy`.  Because most albedo and reflectance quantities are dimensionless, plus the annoying and confusing pi factor in many places, it is not easy to distinguish them from each other in data analysis and modeling work, causing a lot of confusion.  So it is my goal to eliminate or limit such confusion as much as possible in `sbpy.pho

[2022-05-05 19:21] jianyangli commented on #328
Input from W. Grundy:

Hi Mike,

Glad to see this project being picked up again.  My only concern from a
quick read of the pasted text is that the "albedo" definition
implicitly assumes a spherical shape.  Since we don't know asteroid
shapes a priori, even assuming we somehow know the "true" Hapke
parameters, integrating that model over a sphere won't give the same
result as for a different shape.

[2022-05-05 19:22] jianyangli commented on #328
Reply to Grundy's input by @jianyangli

I think this is a general problem for disk-integrated photometry of irregularly shaped objects.  For example, the definition of geometric albedo is, based on the Hapke’s book, “the ratio of the integrated brightness of a body at g=0 to the brightness of a perfect Lambert disk of the *same radius* and at the same distance as the body, but illuminated and obse

[2022-05-09 17:51] jrob93 opened #332 "Names.parse_comet error for type A and I"
**High-level problem description**
The Names.parse_comet function fails for active asteroid (A) and interstellar object types (I)

**What did you do?**
I was trying to use `Names.parse_comet` on the MPC catalogue (https://www.minorplanetcenter.net/iau/MPCORB/CometEls.txt) and noticed that it failed for type A and I objects:
[code]

**What did you expect?**
The snippet should have returned:
[code]

[2022-05-09 17:57] jrob93 commented on #332
I think this is a simple fix, A & I just need added to the comet-matching pattern which already has PDCX. I've got a PR doing this simple fix and added the two objects above to the `sbpy/data/tests/test_names.py`. However the tests then fail at test_asteroid_or_comet for the asteroid designation "1A", so maybe there's a reason A wasn't being matched before.

(First time contributing, so please let

[2022-05-09 18:00] mkelley commented on #332
Thanks for the report.  This is a tricky problem with nomenclature.  Despite being in a cometary orbit, A/ indicates it lacks cometary activity, so I would expect A/ objects to parse as an asteroidal designation.  I think I rely on this behavior in some code to know when to avoid using the "closest apparition" option for JPL Horizons, which only works for comets.  I/ objects may be cometary (2I) o

[2022-05-09 18:20] jrob93 commented on #332
Ah okay, makes sense. I'll close the issue and PR then. Cheers!

[2022-05-09 18:20] #332 closed

[2022-05-09 18:26] mkelley commented on #332
I'll open an issue in the documentation, which could help others.  Cheers!

[2022-05-09 18:29] mkelley opened #334 "Document name parsing for A/ and I/ objects"
Update the documentation to explain results for A/ and I/ objects. Despite being in a cometary orbit, A/ indicates it lacks cometary activity, so A/ objects parse as an asteroidal designation.

I/ objects may be cometary (2I) or asteroidal (1I), so they fail both parse_comet and parse_asteroid, since the target nature is unclear from the name.

[2022-05-16 14:12] mkelley opened #335 "Improve weekly test stability"
Weekly doc tests fail when JPL SBDB / Horizons updates the absolute magnitude of Ceres, which occurs every month or so.  Being that Ceres is a well-observed object, I suspect it is not a true improvement on the absolute magnitude, but instead a reflection of the method and data sources.  There are several lines of code that need to be updated whenever this happens.

I propose that we find all doc

[2022-05-16 15:35] jianyangli commented on #335
OK, I can take care of this.

[2022-05-19 22:20] #294 closed

[2022-05-23 15:37] #274 closed

[2022-05-26 15:58] mkelley commented on #311
@Yeqzids , with v0.3.0 out now and on conda-forge, the dependency issues should be addressed.

[2022-05-27 23:35] mkelley opened #340 "A/ designations do not parse"
An A/ designation indicates an asteroidal object (in appearance) in a cometary orbit: https://minorplanetcenter.net/mpec/K18/K18H54.html

A/ objects do not parse as cometary or asteroidal:

[code]

**What did you expect?**
A/ should parse as an asteroid.

[2022-06-03 22:13] mkelley opened #341 "Orbit type lost after Orbit.oo_transform"
[code]

Output
[code]

Instead of 2.0, it should have been COM.

[2022-06-03 23:57] mkelley opened #342 "Update Colina et al. solar spectrum URL"
Now at: https://archive.stsci.edu/hlsps/reference-atlases/cdbs/current_calspec/

[2022-06-05 19:30] mkelley opened #344 "Haser.column_density fails for RectangularAperture"
[code]
[code]

[2022-06-05 23:11] #344 closed

[2022-06-05 23:11] mkelley commented on #344
Nevermind, column density is evaluated for a point not an aperture!

[2022-06-07 18:07] mkelley opened #346 "Fill Obs with reduced mangitude"
An idea from @mschwamb

This is a request for
* [ ] a new feature
* [x] an enhancement to existing sbpy functionality
* [ ] somethings else: [explain here]

The requested changes will be implemented by
Maybe the LSST SSSC?

**High-level concept**
Implement a method that can compute reduced/absolute magnitude for an `Obs` object with photometry and ephemeris information.

**Explain the relevance to

[2022-06-16 13:00] jrob93 commented on #341
I noticed this recently too because I was trying to propagate an orbit to multiple Time objects and it would just hang mysteriously:
[code]

Silly hack is to do one timestep at a time and drop (or overwrite) the orbtype:
[code]

[2022-06-16 13:19] jrob93 opened #348 "Manually add orbits to Orbit()"
This is a request for
* [ ] a new feature
* [x] an enhancement to existing sbpy functionality
* [ ] somethings else: [explain here]

The requested changes will be implemented by
* [x] me (I could give it a go...)
* [ ] the sbpy developers

**High-level concept**
Add the ability to initialise an `Orbit()` object from a table/dataframe containing orbital elements.

**Explain the relevance to sbpy**

[2022-06-16 14:10] mkelley commented on #348
Thanks, @jrob93 .  I actually have an active pull request that aims to improve the documentation and this could be a good example.  Or maybe for our tutorial repository.  (We definitely need this in the SSSC technical documentation.)

I think the main problem with the pandas dataframe is that it lacks (astropy) units, right?  But we can go through an astropy QTable.  How about something like this:

[2022-06-16 14:24] jrob93 commented on #348
Ah cool, that's much better using QTable. I've never really used tables before because I was more familiar with pandas when I started learning astropy type things, but yes the units are easier with tables. I'm nearly finished the notebook you requested for the SSSC technical docs so I'll use those lines in it.

[2022-06-16 16:24] jrob93 opened #349 "Phys from_sbpy fails for comets"
**High-level problem description**
`Phys.from_sbdb` works fine for asteroids but seem to not like querying comet designations

**What did you do?**
[code]

**What did you expect?**
I expected the code to return physical data for the comet.

**What did really happen?**
The code gave an error:
[code]

It seems that astroquery SBDB is not providing units for all the fields that sbpy expects units for

[2022-06-16 19:14] mkelley commented on #349
Thanks, and I can confirm this bug, and have a fix.  If you need a workaround in the short term, then get the data from astroquery as you do above, and apply the unit manually.

[2022-06-16 19:15] mkelley commented on #349
Ah, except that won't get it into the Phys object without major work.  I'm not sure there is an easy workaround.

[2022-06-16 21:38] jrob93 commented on #349
No worries, the astroquery solution is fine for me right now!

[2022-06-22 20:37] monocongo opened #351 "Write observations to file in MPC and/or DES format"
This is a request for
* [X] a new feature
* [ ] an enhancement to existing sbpy functionality
* [ ] somethings else: [explain here]

The requested changes will be implemented by
* [X] me
* [ ] the sbpy developers

**High-level concept**
I would like to query MPC observations for an object and then write the observations data to a file which is suitable as input to OpenOrb for orbit computations. I

[2022-06-24 20:37] mkelley commented on #351
Hi @monocongo , this sounds like a good idea.  We have a `to_file` method in `DataClass` (from which `Obs` objects are derived) that passes parameters on to `astropy.table.Table.write`.  Perhaps the `Obs` object should implement its own version that writes the DES or MPC formats if requested, or else passes on to the `DataClass.to_file` for other formats.  Regardless, please give this a try, start

[2022-06-24 20:41] mkelley commented on #351
I've marked this as a v0.4 milestone, due by Aug 1, but if that timescale isn't good for you, let me know and I can change this to v0.5 (~1 Feb) at any time.

[2022-06-28 17:38] #335 closed, assigned to jianyangli

[2022-06-30 03:19] jianyangli opened #353 "Allow measurement errors in `photometry.DiskIntegratedPhaseFunc.from_obs` method"
This is a request for
* [ ] a new feature
* [x] an enhancement to existing sbpy functionality
* [ ] somethings else: [explain here]

The requested changes will be implemented by
* [x] me
* [x] the sbpy developers

**High-level concept**
`sbpy.photometry.DiskIntegratedPhaseFunc` provides class method `from_obs` to fit observational data and retrieve a phase function model.  The current implementati

[2022-07-06 18:40] mkelley opened #355 "Resolve remote testing on PRs"
As noted in #345 , we cannot use the NASA ADS API without publicly exposing a secret API key.  These tests could be restored if the ads-based tests could be skipped (perhaps using a pytest.mark or a test that the key exists), or if the ads module was used in sandbox mode.  Or may be use a combination of the two?

[2022-07-06 19:20] jianyangli opened #356 "Add `in` Operator for `DataClass`"
This is a request for
* [x] a new feature
* [ ] an enhancement to existing sbpy functionality
* [ ] somethings else: [explain here]

The requested changes will be implemented by
* [x] me
* [ ] the sbpy developers

**High-level concept**
`sbpy.DataClass` allows aliases for column names for flexibility.  A `in` operator would be useful to extend the flexibility for the operations on fields.

**Expla

[2022-07-07 13:39] #349 closed

[2022-07-08 14:53] mkelley commented on #334
Addressed by #337

[2022-07-08 14:53] #334 closed

[2022-07-08 18:25] #356 closed

[2022-07-09 00:38] monocongo opened #359 "Observations not found for numerous objects which are in the MPC database"
**High-level problem description**
There are many objects for which there are observations in the MPC dataset but when I use the Obs class to query for these I get errors indicating that I've used an invalid designation.

For example:
[code]

However the designations can be used successfully to retrieve orbit and observations from the MPC database search tool (see [this](https://www.minorplanetcen

[2022-07-09 19:14] mkelley commented on #359
This is a problem with the MPC tool upon which the sbpy-astroquery chain is based.  I tried 2008 JG at https://minorplanetcenter.net/iau/MPEph/MPEph.html and got back:

However, the MPC orbit database has an orbit for this year, so I don't understand why it reports "no current elements": http://www.minorplanetcenter.net/db_search/show_object?object_id=613986

Regardless, it seems the astroquery er

[2022-07-09 23:25] jianyangli opened #360 "`sbpy.data.DataClass._translate_columns` bug?"
**High-level problem description**
Looks like `sbpy.data.DataClass._translate_columns` doesn't actually report `KeyError` if a columns is not present.  This is different from what's stated in the docstring of this method.

**What did you do?**
[code]

**What did you expect?**
The assertions pass

**What did really happen?**
The second assertion didn't pass.  I think this is a bug in `sbpy.data.Dat

[2022-07-10 00:10] jianyangli commented on #360
@mkelley I'm not sure the original intention of this method, though.  Based on the description in the docstring, this would be a bug of this method.  But if the original intention was just to check whether the key is in `Conf.fieldnames` and not to check whether the key was contained in the object, then this is not a bug of this method.  And in this case, we should fix the problem in `__contains__

[2022-07-11 17:50] mkelley commented on #360
Good catch.  I agree it is a bug based on the description.  Also, `Orbit.from_oo` relies on a `KeyError` from `_translate_columns` if the field isn't present in the data.  `Orbit.oo_transform` w `KeyError`

It may have been missed because the last line in `__getitem__` throws a `KeyError` when the requested field isn't present, and `_convert_columns` wouldn't normally be used with a field name tha

[2022-07-11 20:13] jianyangli commented on #360
OK, I'll try to fix it in `_translate_columns`.  Not familiar with oo-related methods, though.  In fact I'm having trouble installing openorb in my system.  But I'll take a look and see if there is any related problems to fix.  I don't see `Orbit.from_oo`, but just a static method `Orbit._from_oo`.  Was that what you referred to?

[2022-07-12 13:03] mkelley commented on #360
Hopefully one of the tox environments can still install pyoorb for you for testing (e.g., tox -e py38-test-alldeps).  I've made a pip installable version at https://github.com/mkelley/pyoorb-experiment (it requires gfortran).  (and yes it was _from_oo)

[2022-07-12 13:35] monocongo commented on #359
I have [re-posted this issue](https://github.com/astropy/astroquery/issues/2464) on the astroquery project. Thanks for the attention to this issue and guidance.

[2022-07-12 13:35] #359 closed

[2022-07-13 01:28] jianyangli commented on #360
OK, I got pyoorb installed using your pip installable version, but had to add an `ARCHFLAGS="-arch x86_64"` environment setting in front of the pip command, otherwise it would fail with an error message:

clang: error: the clang compiler does not support '-march=native'

Then I had to update my numpy to the latest 1.23.1 in order to import pyoorb correctly.  Totally no idea what was going on, but

[2022-07-13 15:30] #360 closed

[2022-07-14 00:47] mkelley commented on #19
I'm considering class designs for implementing this feature.  At the heart, a syndyne generator is an integrator that connects the dots between particles of a single beta.  It needs the state of the target at the time of the observation, the list of betas and the ages to simulate, and an integrator.  In sbpy, we have an orbit and ephemeris class that can potentially be used to provide the state ve

[2022-07-14 04:10] jianyangli commented on #19
I like the top-level design.  It includes everything I will need, at least, in a simple and clear way.

I see the need of using `SkyCoord` in many places in the implementation of plot-related methods, but I doubt it can be used in lieu of `State`, because you would need at least three coordinates together with times to uniquely solve the state.  Solving for state is not at the core of `Syndynes` c

[2022-07-15 01:43] jianyangli opened #363 "`DataClass.__setitem__` doesn't check column names"
**High-level problem description**
Looks like the current implementation of `DataClass.__setitem__` simply refers to `self.table.__setitem__` without checking the column names.  This would potentially cause alternative volume names as defined in `Conf.fieldnames_info` to be confused with each other.

**What did you do?**

[code]

I suspect this should be fixed, so that the column names will be tra

[2022-07-15 01:45] jianyangli commented on #363
Again, @mkelley , I didn't follow the development of `DataClass` from the beginning, so I'm not sure if this should be fixed or it is an allowed behavior.  Please advise.  Thanks.

[2022-07-15 12:00] mkelley commented on #363
Good find, that is a problem!

[2022-07-16 00:28] jianyangli commented on #203
@mkelley I'm just randomly browsing through the old issues.  Masking `Quantity` type in astropy tables doesn't seem to be a problem by now.  The example that @mommermi works without raising an error with astropy v5.0.4 which is what I'm using.  Should we go ahead and implement this feature?  I can take a crack at it.

[2022-07-19 15:15] #363 closed

[2022-07-21 16:13] mkelley commented on #203
Yes!

[2022-07-23 02:48] jianyangli commented on #355
I thought you used the GitHub repository secret to save the ADS key and allow for tests using secret keys.  Perhaps I missed something?

[2022-07-24 11:46] mkelley commented on #355
Sorry, I mean for this to be specific to pull requests.  We can indeed use the API key with our weekly tests.

[2022-07-24 16:38] jianyangli commented on #203
I think a `.append` method that takes either `Row`, `Table`, or `DataClass` as input would work for what we need.  Using Michael's example above, something like this:

[code]

Does this look good to you?  We can either make the append inplace or return an appended object.  I don't see a strong reason for one over another.  Which do you prefer?

[2022-07-29 12:50] mkelley commented on #203
Would it be better to follow astropy Table as an example and have methods `add_row()`, `add_column()`, `add_columns()`, and `join()`?  Or, at least, a `.append()` method could be a convenience function that calls `add_row`, etc., as appropriate.  I think in-place is better.

[2022-07-29 14:27] jianyangli commented on #203
Well, adding those methods would make it conceptually clear.  But in the core, both `add_row()` and `join()` with need to use `Table.vstack(join_type='outer')` to accommodate different sets of columns (I think this is the easiest way to implement).  Also, we already have `__setitem__` and `apply()` that can be used to add a column so we don't have to worry about that functionality.  That's why I p

[2022-08-01 01:32] jianyangli commented on #203
Also, I'd like to update the documentation to advocate for not to use the exposed `table` property to change the table, but rather use the mechanisms realized by `DataClass` itself, such as `__setitem__`, `apply` to change columns, and potentially `append` or whatever we decide to change rows and join tables.  What do you think?

[2022-08-01 23:30] #342 closed

[2022-08-02 00:06] mkelley commented on #203
Well, `Table.add_row` is different from a join, because it does not add new columns: https://docs.astropy.org/en/stable/api/astropy.table.Table.html#astropy.table.Table.add_row

Regardless, I prefer not to develop a new API for common table operations, given that the astronomy community is already working with several options: astropy tables, FITS tables, numpy record arrays, pandas data frames.

[2022-08-02 17:20] jianyangli commented on #203
I see, so you want to reuse the API of astropy tables, expanding their functionalities to meet the requirement for `DataClass` but not introducing new method names.  OK that does make sense to me now.  We can realize an `add_row` to add a row with new columns.  astropy table uses `vstack` function to join two tables.  I think you agreed that we can add a class method `join` to join two tables.  In

[2022-08-31 23:56] hhsieh00 opened #365 "HG12 fitting in photometry module can produce non-physical non-monotonic phase function fits"
For some data sets, apparently particular sparse data sets sampling objects with significant lightcurve variations, fitting to a HG12 model can produce a non-monotonic phase function fit (e.g., where the maximum brightness of the object is at a non-zero phase angle), which is unphysical (maximum illumination of an object as seen by the observer should result in the maximum brightness of the object

[2022-09-01 17:30] hhsieh00 commented on #365
Actually, upon further investigation, it seems that the Penttila et al. (2016) HG1G2 and HG12 models have some enforcement of monotonicity that does not seem to be fully implemented in the sbpy photometry module, so looks like this is a potential area for improvement in sbpy.  Going back to the Penttilä et al. (2016) paper, I found that they define constraints that 0 <= G1,G2 and 1-G1-G2<=1 (equat

[2022-09-08 00:47] jianyangli commented on #365
I just took a quick look at the relevant papers and the code.  The constraints G1, G2 >= 0 and 1 - G1 - G2 <= 1 are not implemented in the current `sbpy` code.  The fit to the models follows `astropy.modeling`'s approach using a `Fitter` class.  The model as implemented is not linearized as in Eq. 18 of Muinonen et al. (2010).  So the fit is always performed in a non-linear fashion.

Based on the

[2022-09-08 01:18] hhsieh00 commented on #365
Thanks for the follow-up, Jian-Yang!  Do you want to contact Karri and Antti or should I?

[2022-09-08 01:31] jianyangli commented on #365
Let me contact them and point them to this thread.

[2022-09-08 01:43] hhsieh00 commented on #365
Just to add some more information for Karri and Antti, I have attached the data file that produces a non-monotonic best-fit solution when fit using the current sbpy HG12_Pen16 model, but results in a more reasonable-looking monotonic best-fit solution when fit using the online tool at http://h152.it.helsinki.fi/HG1G2/ , at least when applying the non-linear constrained fit option.  Currently, sbpy

[2022-09-08 15:57] anttipenttila commented on #365
BTW, from a quick look into astropy, I see that there is the SLSQPLSQFitter, which uses internally scipy.optimize SLSQP method. That should be suitable, and I have tested that my example above works fine if you change the 'COBYLA' method in minimization to 'SLSQP' method.

[2022-09-08 16:22] mkelley commented on #365
Great!  I was hoping something already implemented would work.

[2022-09-09 07:24] anttipenttila commented on #365
I made a try to do non-constrained and constrained fits with astropy Fitters. I almost succeeded! Constraints in HG12 and HG12* work well. The HG1G2-system would need a bit more complicated constraints. The 'ineqcons' would be the correct one, but they are so poorly documented in astropy that I don't know how to use them. Attached is my example Jupyter notebook (as PDF) where I fit one dataset wit

[2022-09-12 04:30] jianyangli commented on #365
Thank you for looking into this @anttipenttila !  Sorry that I didn't have time to respond earlier.

I looked through your notebook and the pdf, and agreed with your aprpoach with both `scipy.optimize` and `astropy.modeling`.  Actually, your astropy approach is the same as my previous trial.  There is a slightly straightforward way to add constraints to the models.  The code block below is close t

[2022-09-12 13:54] anttipenttila commented on #365
Thanks Jian-Yang for your notes. The online fit is using the Javascript COBYLA library for constrained nonlinear minimization. I did some debugging, and it seems that in this (a bit difficult) case, the parameters for the fitting routing needed some tuning. I have now increased both the maximum number of iteration rounds, and also the initial size of the simplex in the algorithm. These changes hav

[2022-09-12 16:57] jianyangli commented on #365
Great!  Thank you @anttipenttila .

I think I figured out how to make ineqcons work for astropy fitter.  Basically when define the constraints in lambda functions, we should add `*args` in the input of the lambda func to accomodate other parameters that might be passed to the constraint function.

[code]

Note that MarLevLSQFitter doesn't support inequality constraints.  So we'll have to use SLSQP

[2022-09-16 19:08] jianyangli commented on #365
@anttipenttila , @hhsieh00 , I submitted a PR that added the default constraints to parameters for all four IAU HG-series models.  This change should be transparent to your existing code.  So you don't need to change anything, but just try to rerun what you have, and the resulting model should be constrained fit automatically.  Note that you should use `astropy.modeling.fitting.SLSQPLSQFitter`, at

[2022-09-19 13:41] anttipenttila commented on #365
Not a frequent user of advanced git features, so I don't really know how I should review. I think I was successful in pulling the correct version (gh pr checkout 366), but not sure what should I do then...

[2022-09-20 01:13] jianyangli commented on #365
Hi @anttipenttila , at the functionality level, after you pull and checkout the branch on your local computer, you can link it to your existing python, and test it by running whatever test codes you have, such as the ipython notebooks that you shared earlier in PDF, and see how the models work now.

Also, if you are interested in doing some review at the code level, that'll be great.  The simplest

[2022-09-21 03:36] jianyangli commented on #203
@mkelley I just did a PR that implements the functionality as we discussed.  I tried to make use of the existing functionalities from astropy Table and DataClass as much as possible.  Based on my test, it has all the mechanics that we may need.  But I'm not confident that `join`, which uses `astropy.table.vstack` is the best approach.  Another function we may use is `astropy.table.join`, but I'm n